In [1]:
import pandas as pd
import numpy as np

In [5]:
df_book_table01=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\estarter\estarter25022026829.csv',sep=',',encoding='latin1')
df_book_table02=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\estarter\Customer-Units.csv',sep=',',encoding='latin1')

In [6]:
df_book_table01.info()
df_book_table02.info()

<class 'pandas.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IMEI    40 non-null     str
dtypes: str(1)
memory usage: 452.0 bytes
<class 'pandas.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       67 non-null     int64
 1   Owner                    67 non-null     str
 2   Unit ID                  67 non-null     str
 3   Unit                     67 non-null     str
 4   Peripherals              0 non-null      float64
 5   BillingPeriod            67 non-null     str
 6   Reporting Status         0 non-null      float64
 7   Show Until               0 non-null      float64
 8   Billing Group            0 non-null      float64
 9   Last Event Date          67 non-null     str
 10  Monthly Fee              67 non-null     int64
 11  Bill To                  4 non-null      str
 12  Assigned To              67 non-null     str
 13  Linked Mode              67 non-null     int64
 14  Paired GPS               1 non-null      str
 15  Paired Camera            1 non-null      str
 16  Billable                 67 non-null     str
 17  RMA                      67 non-null     str
 18  Unit Type                67 non-null     str
 19  IMEI                     67 non-null     str
 20  Serial Number            67 non-null     str
 21  Phone Number             67 non-null     int64
 22  Carrier                  67 non-null     str
 23  SIM #                    67 non-null     object
 24  VIN                      1 non-null      str
 25  License Plate            2 non-null      str
 26  Static IP                0 non-null      float64
 27  Event                    67 non-null     str
 28  Last Contact On          67 non-null     str
 29  Min                      67 non-null     int64
 30  Server IP                67 non-null     str
 31  Server Port              67 non-null     int64
 32  Last Event Address       67 non-null     str
 33  Modem                    67 non-null     str
 34  Inv #                    67 non-null     str
 35  Status                   67 non-null     str
 36  Last Service Paid Until  67 non-null     str
 37  Service Paid Until       67 non-null     str
 38  Assigned to Company      67 non-null     str
 39  IFTA                     67 non-null     str
 40  History Months           67 non-null     int64
 41  Comments                 0 non-null      float64
 42  Warranty Expires         67 non-null     str
 43  Script                   0 non-null      float64
 44  JBOX Profile             0 non-null      float64
 45  Contract Type            0 non-null      float64
 46  Subscription             0 non-null      float64
 47  Firmware                 4 non-null      str
dtypes: float64(10), int64(7), object(1), str(30)
memory usage: 25.3+ KB

In [8]:
num_filas_table01=int(df_book_table01.shape[0])
num_filas_table02=int(df_book_table02.shape[0])       
cont=0
df_aux=pd.DataFrame()        
list_field01=[]
list_field02=[]
list_field03=[]
list_field04=[]       
#print("df_book_table01[8,0]: ",df_book_table01.iloc[8,0]) #UnitsByDealer.csv_r.csv
#print("df_book_table02[8,5]: ",df_book_table02.iloc[8,5]) #6MB.        
print("\nInformación de las tablas: ")
print("\nTabla 1:")
print(df_book_table01.info())
print("\nTabla 2:")
print(df_book_table02.info())
attribute_name_table01='IMEI'#Digitar el índice de la tabla 1.#input("\nDigita el atributo a comparar de la tabla 1: ")
attribute_name_table02='IMEI'#Digitar el índice de la tabla 2.#input("Digita el atribito a comparar de la tabla 2: ")
position_table01=int(df_book_table01.columns.get_loc(attribute_name_table01))
position_table02=int(df_book_table02.columns.get_loc(attribute_name_table02))
print("\nAtributo de la tabla1: ",position_table01)
print("Atributo de la tabla2: ",position_table02,"\n")
print("Trabajando...")                          
for i in range(0,num_filas_table01):
    for j in range(0,num_filas_table02):
        #if str(df_book_table01.iloc[i,5])==str(df_book_table02.iloc[j,3]): 
        if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):                                                                             
            list_field01.append(df_book_table01.iloc[i,0])
            list_field02.append(df_book_table02.iloc[j,23])
            list_field03.append(df_book_table02.iloc[j,21])
            #list_field04.append(df_book_table02.iloc[j,3])
            print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
            print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
            cont=cont+1
df_aux['IMEI']=list_field01
df_aux['ICCID']=list_field02
df_aux['MSISDN']=list_field03
#df_aux['Last Contact On']=list_field04
print("Cont= ",cont)
print(df_aux.info())
option_exp=input("\n¿Desea generar un reporte de coincidencias en formato csv S/N?\n")
if option_exp=="S":
    df_aux.to_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\estarter\coincidences.csv')                  #Edit
cont=0
option_exp=input("¿Desea generar un reporte de diferencias en formato csv S/N?\n")        
df_book_table02['ACTION']="Keep"
if option_exp=="S":
    print("Trabajando...")
    for i in range(0,num_filas_table01):
        for j in range(0,num_filas_table02):
            if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):
                df_book_table02.iloc[j,3]=np.nan
                print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
                print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
    #print(df_book_table02)
    df_book_table02.dropna(axis=0,inplace=True)
    print(df_book_table02)
    df_book_table02.to_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\estarter\coincidences.csv')          #Edit

#lista_combinada=[lista_simcard,lista_linea]

Información de las tablas:

Tabla 1:
<class 'pandas.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IMEI    40 non-null     str
dtypes: str(1)
memory usage: 452.0 bytes
None

Tabla 2:
<class 'pandas.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       67 non-null     int64
 1   Owner                    67 non-null     str
 2   Unit ID                  67 non-null     str
 3   Unit                     67 non-null     str
 4   Peripherals              0 non-null      float64
 5   BillingPeriod            67 non-null     str
 6   Reporting Status         0 non-null      float64
 7   Show Until               0 non-null      float64
 8   Billing Group            0 non-null      float64
 9   Last Event Date          67 non-null     str
 10  Monthly Fee              67 non-null     int64
 11  Bill To                  4 non-null      str
 12  Assigned To              67 non-null     str
 13  Linked Mode              67 non-null     int64
 14  Paired GPS               1 non-null      str
 15  Paired Camera            1 non-null      str
 16  Billable                 67 non-null     str
 17  RMA                      67 non-null     str
 18  Unit Type                67 non-null     str
 19  IMEI                     67 non-null     str
 20  Serial Number            67 non-null     str
 21  Phone Number             67 non-null     int64
 22  Carrier                  67 non-null     str
 23  SIM #                    67 non-null     object
 24  VIN                      1 non-null      str
 25  License Plate            2 non-null      str
 26  Static IP                0 non-null      float64
 27  Event                    67 non-null     str
 28  Last Contact On          67 non-null     str
 29  Min                      67 non-null     int64
 30  Server IP                67 non-null     str
 31  Server Port              67 non-null     int64
 32  Last Event Address       67 non-null     str
 33  Modem                    67 non-null     str
 34  Inv #                    67 non-null     str
 35  Status                   67 non-null     str
 36  Last Service Paid Until  67 non-null     str
 37  Service Paid Until       67 non-null     str
 38  Assigned to Company      67 non-null     str
 39  IFTA                     67 non-null     str
 40  History Months           67 non-null     int64
 41  Comments                 0 non-null      float64
 42  Warranty Expires         67 non-null     str
 43  Script                   0 non-null      float64
 44  JBOX Profile             0 non-null      float64
 45  Contract Type            0 non-null      float64
 46  Subscription             0 non-null      float64
 47  Firmware                 4 non-null      str
dtypes: float64(10), int64(7), object(1), str(30)
memory usage: 25.3+ KB
None

Atributo de la tabla1:  0
Atributo de la tabla2:  19

Trabajando...
Cont=  0
<class 'pandas.DataFrame'>
RangeIndex: 0 entries
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IMEI    0 non-null      float64
 1   ICCID   0 non-null      float64
 2   MSISDN  0 non-null      float64
dtypes: float64(3)
memory usage: 132.0 bytes
None
Trabajando...
Empty DataFrame
Columns: [ID, Owner, Unit ID, Unit, Peripherals, BillingPeriod, Reporting Status, Show Until, Billing Group, Last Event Date, Monthly Fee, Bill To, Assigned To, Linked Mode, Paired GPS, Paired Camera, Billable, RMA, Unit Type, IMEI, Serial Number, Phone Number, Carrier, SIM #, VIN, License Plate, Static IP, Event, Last Contact On, Min, Server IP, Server Port, Last Event Address, Modem, Inv #, Status, Last Service Paid Until, Service Paid Until, Assigned to Company, IFTA, History Months, Comments, Warranty Expires, Script, JBOX Profile, Contract Type, Subscription, Firmware, ACTION]
Index: []

[0 rows x 49 columns]