In [1]:
import pandas as pd
import numpy as np

In [2]:
#ars in Kilometers
ars_12022026=pd.read_csv('Activity Report Summarized_es.csv',sep=',')
ars_12022026['MilesDriven_in_Miles']=0.0
cad_str_to_float=[]

for i in range(0,ars_12022026.shape[0]):
    aux=ars_12022026.iloc[i,4].replace(',','.')
    cad_str_to_float.append(aux)

ars_12022026['MilesDriven_dec']=cad_str_to_float
ars_12022026['MilesDriven_dec']

ars_12022026.info()

for i in range(0,ars_12022026.shape[0]):
    ars_12022026.iloc[i,18]=float(ars_12022026.iloc[i,19])*0.621371
    #print(ars_12022026.iloc[i,19],ars_12022026.iloc[i,18])

<class 'pandas.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   GroupName             0 non-null      float64
 1   UnitID                43 non-null     str
 2   UnitName1             43 non-null     str
 3   MaxSpeed              43 non-null     int64
 4   MilesDriven           43 non-null     str
 5   TravelTimeSecs        43 non-null     str
 6   Textbox3              43 non-null     str
 7   IdleTimeSecs          43 non-null     str
 8   Textbox6              43 non-null     str
 9   IdleTimeSecs2         43 non-null     str
 10  Textbox11             43 non-null     str
 11  Textbox20             43 non-null     str
 12  Textbox21             43 non-null     str
 13  Textbox24             43 non-null     str
 14  Textbox25             43 non-null     str
 15  Textbox26             43 non-null     str
 16  Textbox27             43 non-null     str
 17  Textbox28             43 non-null     str
 18  MilesDriven_in_Miles  43 non-null     float64
 19  MilesDriven_dec       43 non-null     str
dtypes: float64(2), int64(1), str(17)
memory usage: 6.8 KB

In [3]:
#ur in miles
ur_12022026=pd.read_csv('utilizationReport_2026-02-12.csv',sep=',')
ur_12022026.info()

<class 'pandas.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Tag                25 non-null     str
 1   Unit               25 non-null     str
 2   Driver             0 non-null      float64
 3   Distance (mi)      25 non-null     float64
 4   Duration           25 non-null     str
 5   Idle Time          25 non-null     str
 6   Stop Time          25 non-null     str
 7   Moving Percentage  25 non-null     str
 8   Days Worked        25 non-null     int64
 9   Days Total         25 non-null     int64
 10  Days Percentage    25 non-null     str
dtypes: float64(2), int64(2), str(7)
memory usage: 2.3 KB

In [4]:
value_to_look=input('Type the short name to look for: ')
ars_12022026_sn=ars_12022026[ars_12022026['UnitName1'].str.contains(value_to_look)]
ars_12022026_sn[['UnitName1','MilesDriven','MilesDriven_in_Miles']]

      UnitName1 MilesDriven  MilesDriven_in_Miles
1    A1 LUL 144       28,97             18.001118
9        LUL144       30,13             18.721908
10  LUL144 AIR2        0,00              0.000000

In [5]:
value_to_look=input('Type the short name to look for: ')
ur_12022026_sn=ur_12022026[ur_12022026['Unit'].str.contains(value_to_look)]
ur_12022026_sn[['Unit','Distance (mi)',]]

     Unit  Distance (mi)
6  LUL144          18.97

In [6]:
value_to_look=input('Type the short name to look for: ')
ur_12022026_sn=ur_12022026[ur_12022026['Unit'].str.contains(value_to_look)]
ars_12022026_sn=ars_12022026[ars_12022026['UnitName1'].str.contains(value_to_look)]
print("Short name typed: ", value_to_look)
print("\n")
print('Actividades (Sumarizado) from TSO:')
print(ars_12022026_sn[['UnitName1','MilesDriven','MilesDriven_in_Miles']])
print("\n")
print('Utilization Report from Ignition:')
print(ur_12022026_sn[['Unit','Distance (mi)',]])

Short name typed:  144


Actividades (Sumarizado) from TSO:
      UnitName1 MilesDriven  MilesDriven_in_Miles
1    A1 LUL 144       28,97             18.001118
9        LUL144       30,13             18.721908
10  LUL144 AIR2        0,00              0.000000


Utilization Report from Ignition:
     Unit  Distance (mi)
6  LUL144          18.97