In [62]:
import pandas as pd
import numpy as np

Data analysys since 01-11-2025 17-12-2025 1.

In [ ]:
raw_data=pd.read_csv(r'/home/jlhb1984/py-projects/data/chilco/prz050.csv',sep=';',encoding='latin1')
raw_datam=pd.read_csv(r'/home/jlhb1984/py-projects/data/chilco/prz050m.csv',sep=';',encoding='latin1')
raw_datam.rename(columns={'Unnamed: 1':'Message Type',
                                 'Unnamed: 2':'Protocole',
                                 'Unnamed: 3':'IMEI',
                                 'Unnamed: 4':'Serial',
                                 'Unnamed: 5':'Mileage',
                                 'Unnamed: 6':'Date',
                                 'Unnamed: 7':'Ignition',
                                 'Unnamed: 8':'Latitude',
                                 'Unnamed: 9':'Longitude',
                                 'Unnamed: 10':'Altitude',
                                 'Unnamed: 11':'External Power',
                                 'Unnamed: 12':'RPM',
                                 'Unnamed: 13':'Speed',
                                 'Unnamed: 14':'Satellite Number',
                                 'Unnamed: 15':'Azimuth',
                                 'Unnamed: 16':'Bettery level',
                                 },inplace=True)
raw_datam.info()
#raw_datam.to_csv('/home/jlhb1984/py-projects/data/chilco/prz050decoded.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10161 entries, 0 to 10160
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Message           10161 non-null  object
 1   Message Type      10161 non-null  object
 2   Protocole         10161 non-null  object
 3   IMEI              10161 non-null  object
 4   Serial            10161 non-null  object
 5   Mileage           10161 non-null  object
 6   Date              10161 non-null  object
 7   Ignition          10161 non-null  object
 8   Latitude          10161 non-null  object
 9   Longitude         10161 non-null  object
 10  Altitude          10161 non-null  object
 11  External Power    9986 non-null   object
 12  RPM               9986 non-null   object
 13  Speed             9784 non-null   object
 14  Satellite Number  9784 non-null   object
 15  Azimuth           9784 non-null   object
 16  Bettery level     9784 non-null   object
dtypes: object(17)
memory usage: 1.3+ MB

In [ ]:
prz050d=pd.read_csv(r'/home/jlhb1984/py-projects/data/chilco/prz050decoded.csv')
prz050d_f=prz050d[['Date','Mileage','Speed']]
prz050d_f

                              Date                   Mileage      Speed
0      Date:"2025-11-01T00:02:05Z"          Mileage:15494501  Speed:0.0
1      Date:"2025-11-01T01:02:06Z"          Mileage:15494501  Speed:0.0
2      Date:"2025-11-01T02:02:06Z"          Mileage:15494501  Speed:0.0
3                          Model:0       Firmware:"V1.0.1.5"        NaN
4                   Band:"CAT-1 5"  AccessTechnology:"CAT-1"        NaN
...                            ...                       ...        ...
10156  Date:"2025-12-17T15:57:15Z"          Mileage:18430109  Speed:0.0
10157  Date:"2025-12-17T16:57:15Z"          Mileage:18430109  Speed:0.0
10158  Date:"2025-12-17T17:57:15Z"          Mileage:18430109  Speed:0.0
10159  Date:"2025-12-17T18:57:14Z"          Mileage:18430109  Speed:0.0
10160  Date:"2025-12-17T19:57:15Z"          Mileage:18430109  Speed:0.0

[10161 rows x 3 columns]

In [65]:
#Looking for event: 2025-11-01T10:4
value_to_look=input('Type the date to searh: ')
print("Working...")
prz050d_f_wanted=prz050d_f[prz050d_f['Date'].str.contains(value_to_look)]
delta_x=float(prz050d_f_wanted.iloc[1,1][8:16])-float(prz050d_f_wanted.iloc[0,1][8:16])
delta_s=float(prz050d_f_wanted.iloc[1,2][6:10])-float(prz050d_f_wanted.iloc[0,2][6:10])

acc_ms=((delta_s*10)/(36*60))
prz050d_f_wanted
#print("Distance between 5:41am and 5:40am: ",delta_x,'m','Speed between 5:41am and 5:40am',delta_s,'Km/h','Acceleration= ',acc_ms,'m/s^2')

Working...

                            Date           Mileage       Speed
169  Date:"2025-11-01T10:40:11Z"  Mileage:15557145  Speed:63.0
170  Date:"2025-11-01T10:41:11Z"  Mileage:15558248  Speed:66.0
171  Date:"2025-11-01T10:42:11Z"  Mileage:15559321  Speed:63.0
172  Date:"2025-11-01T10:42:58Z"  Mileage:15560207  Speed:68.0
173  Date:"2025-11-01T10:43:15Z"  Mileage:15560508  Speed:62.0
174  Date:"2025-11-01T10:43:42Z"  Mileage:15561014  Speed:68.0
175  Date:"2025-11-01T10:43:58Z"  Mileage:15561316  Speed:64.0
176  Date:"2025-11-01T10:43:58Z"  Mileage:15561316  Speed:64.0
177  Date:"2025-11-01T10:44:04Z"  Mileage:15561424  Speed:64.0
178  Date:"2025-11-01T10:45:11Z"  Mileage:15562661  Speed:49.0
179  Date:"2025-11-01T10:45:22Z"  Mileage:15562830  Speed:61.0
180  Date:"2025-11-01T10:46:10Z"  Mileage:15563573  Speed:54.0
181  Date:"2025-11-01T10:46:37Z"  Mileage:15563970  Speed:48.0
182  Date:"2025-11-01T10:47:41Z"  Mileage:15564904  Speed:51.0
183  Date:"2025-11-01T10:48:05Z"  Mileage:15565240  Speed:52.0
184  Date:"2025-11-01T10:48:24Z"  Mileage:15565509  Speed:52.0
185  Date:"2025-11-01T10:48:44Z"  Mileage:15565782  Speed:50.0
186  Date:"2025-11-01T10:49:59Z"  Mileage:15566874  Speed:52.0

In [ ]:
mileage_report_pm=pd.read_csv(r'/home/jlhb1984/py-projects/data/chilco/mileageReport_0111_3011.csv',sep=',')
mileage_report_pm

,Unit,Time/Date (COT),Address,Distance (km),Total Distance (km),Odometer,Driver
0,PRZ050,11/01/2025 3:46 AM,"122-12250 Cra. 2, Soacha, Cundinamarca, 250055",0.75,0.75,19688.75,NaN
1,PRZ050,11/01/2025 3:51 AM,"36-35 Cra. 9 Este, Soacha, Cundinamarca, 250054",0.27,1.02,19689.02,NaN
2,PRZ050,11/01/2025 3:52 AM,"7 Este259-7 Este409 Cl. 33, Soacha, Cundinamar...",0.41,1.43,19689.44,NaN
3,PRZ050,11/01/2025 3:55 AM,"Cl. 31, Soacha, Cundinamarca, 250054",0.55,1.98,19689.99,NaN
4,PRZ050,11/01/2025 3:56 AM,"Dg. 30L, Soacha, Cundinamarca, 250051",0.21,2.19,19690.19,NaN
...,...,...,...,...,...,...,...
3814,PRZ050,11/27/2025 9:54 AM,"60, Marinilla, Antioquia, 054020",0.04,5265.77,24869.16,NaN
3815,PRZ050,11/27/2025 9:55 AM,"60, Marinilla, Antioquia, 054028",3.69,5269.46,24872.85,NaN
3816,PRZ050,11/27/2025 9:56 AM,"60, Marinilla, Antioquia, 054028",2.91,5272.37,24875.76,NaN
3817,PRZ050,11/27/2025 9:57 AM,"60, Marinilla, Antioquia, 054028",1.02,5273.39,24876.78,NaN
3818,PRZ050,11/27/2025 9:59 AM,"60, Marinilla, Antioquia, 054028",0.01,5273.40,24876.79,NaN

In [67]:
#Looking for event: 11/01/2025 5:4
value_to_look=input('Type the value to searh: ')
print("Working...")
prz050d_f_wanted=mileage_report_pm[mileage_report_pm['Time/Date (COT)'].str.contains(value_to_look)]
prz050d_f_wanted

Working...

,Unit,Time/Date (COT),Address,Distance (km),Total Distance (km),Odometer,Driver
61,PRZ050,11/01/2025 5:40 AM,"50, El Rosal, Cundinamarca, 250217",0.02,37.31,19724.81,NaN
62,PRZ050,11/01/2025 5:41 AM,"50, El Rosal, Cundinamarca, 250217",4.39,41.70,19729.20,NaN
63,PRZ050,11/01/2025 5:42 AM,"50, Facatativá, Cundinamarca, 253058",0.89,42.59,19730.09,NaN
64,PRZ050,11/01/2025 5:43 AM,"50, Facatativá, Cundinamarca, 253058",0.21,42.79,19730.30,NaN
65,PRZ050,11/01/2025 5:43 AM,"50, Facatativá, Cundinamarca, 253058",0.11,42.90,19730.40,NaN
66,PRZ050,11/01/2025 5:44 AM,"50, Facatativá, Cundinamarca, 253058",1.13,44.03,19731.54,NaN
67,PRZ050,11/01/2025 5:45 AM,"50, Facatativá, Cundinamarca, 253058",0.17,44.20,19731.70,NaN
68,PRZ050,11/01/2025 5:45 AM,"50, Facatativá, Cundinamarca, 253058",5.16,49.35,19736.87,NaN
69,PRZ050,11/01/2025 5:46 AM,"4.873608377174799, San Francisco, Cundinamarca...",1.14,50.49,19737.99,NaN
70,PRZ050,11/01/2025 5:46 AM,"50, San Francisco, Cundinamarca, 253608",0.19,50.68,19738.18,NaN
71,PRZ050,11/01/2025 5:47 AM,"50, San Francisco, Cundinamarca, 253608",0.34,51.02,19738.52,NaN
72,PRZ050,11/01/2025 5:48 AM,"50, San Francisco, Cundinamarca, 253608",0.00,51.02,19738.52,NaN
73,PRZ050,11/01/2025 5:48 AM,"50, San Francisco, Cundinamarca, 253608",0.82,51.84,19739.34,NaN
74,PRZ050,11/01/2025 5:49 AM,"50, San Francisco, Cundinamarca, 253608",0.19,52.03,19739.54,NaN

Data analysys since 13-11-2025 11-02-2026 2. Raw data only was stored since 13-11-2026, reason why I could not do the data analysis since 01-11-2025.

CRM raw data

In [ ]:
raw_data_updated=pd.read_csv(r'/home/jlhb1984/py-projects/data/chilco/prz050_011125_110226_crm.csv',sep=';',encoding='latin1')
raw_datam_updated=pd.read_csv(r'/home/jlhb1984/py-projects/data/chilco/prz050_011125_110226_crm_m.csv',sep=';',encoding='latin1')
raw_datam_updated.rename(columns={'Unnamed: 1':'Message Type',
                                 'Unnamed: 2':'Protocole',
                                 'Unnamed: 3':'IMEI',
                                 'Unnamed: 4':'Serial',
                                 'Unnamed: 5':'Mileage',
                                 'Unnamed: 6':'Date',
                                 'Unnamed: 7':'Ignition',
                                 'Unnamed: 8':'Latitude',
                                 'Unnamed: 9':'Longitude',
                                 'Unnamed: 10':'Altitude',
                                 'Unnamed: 11':'External Power',
                                 'Unnamed: 12':'RPM',
                                 'Unnamed: 13':'Speed',
                                 'Unnamed: 14':'Satellite Number',
                                 'Unnamed: 15':'Azimuth',
                                 'Unnamed: 16':'Bettery level',
                                 },inplace=True)
raw_datam_updated.info()
#raw_datam_updated.to_csv('/home/jlhb1984/py-projects/data/chilco/prz050decoded_11022026.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28539 entries, 0 to 28538
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Message           28539 non-null  object
 1   Message Type      28539 non-null  object
 2   Protocole         28539 non-null  object
 3   IMEI              28539 non-null  object
 4   Serial            28539 non-null  object
 5   Mileage           28539 non-null  object
 6   Date              28539 non-null  object
 7   Ignition          28539 non-null  object
 8   Latitude          28539 non-null  object
 9   Longitude         28539 non-null  object
 10  Altitude          28539 non-null  object
 11  External Power    28333 non-null  object
 12  RPM               28333 non-null  object
 13  Speed             28103 non-null  object
 14  Satellite Number  28103 non-null  object
 15  Azimuth           28103 non-null  object
 16  Bettery level     28103 non-null  object
dtypes: object(17)
memory usage: 3.7+ MB

In [ ]:
prz050d_updated_crm=pd.read_csv(r'/home/jlhb1984/py-projects/data/chilco/prz050decoded_11022026.csv')
prz050d_f_updated_crm=prz050d_updated_crm[['Date','Mileage','Speed']]
prz050d_f_updated_crm

                              Date           Mileage       Speed
0      Date:"2025-11-13T15:55:23Z"  Mileage:17093829  Speed:50.0
1      Date:"2025-11-13T15:57:08Z"  Mileage:17095476  Speed:59.0
2      Date:"2025-11-13T15:58:07Z"  Mileage:17096153  Speed:25.0
3      Date:"2025-11-13T15:58:50Z"  Mileage:17096373  Speed:12.0
4      Date:"2025-11-13T15:59:57Z"  Mileage:17096381   Speed:0.0
...                            ...               ...         ...
28534  Date:"2026-02-11T16:02:37Z"  Mileage:24857997   Speed:0.0
28535  Date:"2026-02-11T16:03:37Z"  Mileage:24857997   Speed:0.0
28536  Date:"2026-02-11T16:04:37Z"  Mileage:24857997   Speed:0.0
28537  Date:"2026-02-11T16:05:37Z"  Mileage:24857997   Speed:0.0
28538  Date:"2026-02-11T16:06:37Z"  Mileage:24857997   Speed:0.0

[28539 rows x 3 columns]

PM mileage report, only from 01-02-2026 to 11-02-2026 because of big data.

In [ ]:
mileage_report_pm_updated=pd.read_csv(r'/home/jlhb1984/py-projects/data/chilco/mileageReport_0102_1102_pm.csv',sep=',')
mileage_report_pm_updated

,Unit,Time/Date (COT),Address,Distance (mi),Total Distance (mi),Odometer,Driver
0,PRZ050,02/02/2026 8:22 AM,"Vía Sin Nombre, Copacabana, Antioquia, 051048",0.01,0.01,14514.07,NaN
1,PRZ050,02/02/2026 8:22 AM,"Vía Sin Nombre, Copacabana, Antioquia, 051048",0.01,0.02,14514.08,NaN
2,PRZ050,02/02/2026 8:22 AM,"Vía Sin Nombre, Copacabana, Antioquia, 051048",0.04,0.06,14514.12,NaN
3,PRZ050,02/02/2026 8:23 AM,"Vía Sin Nombre, Copacabana, Antioquia, 051048",0.01,0.07,14514.13,NaN
4,PRZ050,02/02/2026 8:23 AM,"Vía Sin Nombre, Copacabana, Antioquia, 051048",0.06,0.13,14514.19,NaN
...,...,...,...,...,...,...,...
2659,PRZ050,02/11/2026 10:40 AM,"60, Copacabana, Antioquia, 051048",0.11,921.72,15435.70,NaN
2660,PRZ050,02/11/2026 10:40 AM,"60, La Lucha, Antioquia, 051048",0.62,922.34,15436.32,NaN
2661,PRZ050,02/11/2026 10:42 AM,"60, Guarne, Antioquia, 054057",0.81,923.16,15437.14,NaN
2662,PRZ050,02/11/2026 10:43 AM,"60, Guarne, Antioquia, 054057",0.53,923.69,15437.66,NaN
2663,PRZ050,02/11/2026 10:44 AM,"60, Guarne, Antioquia, 054057",0.63,924.32,15438.29,NaN

Activities report from TSO:

In [ ]:
activities_report=pd.read_csv(r'/home/jlhb1984/py-projects/data/chilco/Activity Report_v3_es.csv',sep=';',encoding='latin1')
activities_report.fillna('Empty',inplace=True)
value_to_look=input('Type the date to searh: ')
print("Working...")
activities_report_tso=activities_report[activities_report['Hora de Inicio'].str.contains(value_to_look)]
activities_report_tso[['Hora de Inicio','Tiempo Viajado','Distancia Conducida','Dirección']]

/tmp/ipykernel_1511/1572739257.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Empty' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  activities_report.fillna('Empty',inplace=True)

Working...

,Hora de Inicio,Tiempo Viajado,Distancia Conducida,Dirección
0,11/02/2026 12:00 a. m.,00h:00m:00s,"0,00",Km 33 de la vía Marinilla - Medellín - Autopis...
1,11/02/2026 6:22 a. m.,00h:04m:17s,"2,22","Autopista Medellín-Bogotá, Copacabana, Antioqu..."
2,11/02/2026 6:27 a. m.,00h:01m:48s,"0,10","Av 60, , Antioquia"
3,11/02/2026 6:29 a. m.,00h:28m:07s,"27,63","Av 60, Medellin, Antioquia"
4,11/02/2026 6:58 a. m.,00h:01m:13s,"0,05","Autopista Medellin Bogota Km 33 +120, Rionegro..."
5,11/02/2026 8:45 a. m.,00h:00m:00s,"0,00","Autopista Medellin Bogota Km 33 +120, Rionegro..."
6,11/02/2026 8:47 a. m.,00h:06m:11s,"4,96","Av 60, Medellin, Antioquia"
7,11/02/2026 9:00 a. m.,00h:00m:00s,"0,00","Av 60, Medellin, Antioquia"
8,11/02/2026 9:01 a. m.,00h:26m:01s,"23,43",Km 33 de la vía Marinilla - Medellín - Autopis...
9,11/02/2026 9:27 a. m.,00h:03m:22s,"0,79",Km 33 de la vía Marinilla - Medellín - Autopis...
10,11/02/2026 9:35 a. m.,00h:00m:00s,"0,00",Km 33 de la vía Marinilla - Medellín - Autopis...
11,11/02/2026 10:05 a. m.,00h:00m:00s,"0,00",Km 33 de la vía Marinilla - Medellín - Autopis...
12,11/02/2026 10:26 a. m.,00h:04m:46s,"3,67",Km 33 de la vía Marinilla - Medellín - Autopis...
13,11/02/2026 10:31 a. m.,00h:27m:30s,"26,34","Av 60, Medellin, Antioquia, Colombia"

Comparison:

In [76]:
#CRM:
#Looking for event: 2025-11-01T06:2
value_to_look=input('Type the date to searh: ')
print("Working...")
prz050d_f_wanted_crm=prz050d_f_updated_crm[prz050d_f_updated_crm['Date'].str.contains(value_to_look)]
#delta_x=float(prz050d_f_wanted.iloc[1,1][8:16])-float(prz050d_f_wanted.iloc[0,1][8:16])
#delta_s=float(prz050d_f_wanted.iloc[1,2][6:10])-float(prz050d_f_wanted.iloc[0,2][6:10])

acc_ms=((delta_s*10)/(36*60))
prz050d_f_wanted_crm

Working...

                              Date           Mileage       Speed
28307  Date:"2026-02-11T11:23:28Z"  Mileage:24769242  Speed:17.0
28308  Date:"2026-02-11T11:23:32Z"  Mileage:24769258  Speed:12.0
28309  Date:"2026-02-11T11:23:51Z"  Mileage:24769332  Speed:11.0

In [72]:
#PM:
#Looking for event: 02/11/2026 6:23 AM
value_to_look=input('Type the value to searh: ')
print("Working...")
prz050d_f_wanted_pm=mileage_report_pm_updated[mileage_report_pm_updated['Time/Date (COT)'].str.contains(value_to_look)]
prz050d_f_wanted_pm

Working...

,Unit,Time/Date (COT),Address,Distance (mi),Total Distance (mi),Odometer,Driver
2542,PRZ050,02/11/2026 6:23 AM,"Vía Sin Nombre, Copacabana, Antioquia, 051048",0.01,877.64,15391.62,NaN
2543,PRZ050,02/11/2026 6:23 AM,"60, Copacabana, Antioquia, 051048",0.05,877.69,15391.66,NaN
2544,PRZ050,02/11/2026 6:23 AM,"Vía Sin Nombre, Copacabana, Antioquia, 051048",0.07,877.75,15391.73,NaN