In [110]:
import pandas as pd
import numpy as np

• CGQ270  El día 01/02/2026 a las 09:05, el sistema registra un incremento de 4.17 km dentro del mismo minuto, lo cual no es coherente con el comportamiento real de desplazamiento de un vehículo.

• EQZ329  El día 28/01/2026 a las 5:41 PM, se presenta un salto de kilometraje de 4.60 km en el mismo minuto, evidenciando una inconsistencia en el registro del odómetro.

• SOO657 El día 01/02/2026 a las 12:39, el sistema presenta registros duplicados con un incremento de 1.30 km dentro del mismo minuto, lo que indica falla de datos.

• PRZ982  El día 16/01/2026 a las 12:36 PM, se registran múltiples incrementos de kilometraje dentro del mismo minuto, generando inconsistencias.

• Remember that GTPDP message does not have Odometer or Mileage field.

CGQ270 01feb2026: I did not found the event that customer reported on the raw data, that is the reason why I did not do Ignition data analysis.

In [111]:
raw_data_cgq270_01feb2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\cgq270_crm_01022026.csv',sep=';',encoding='latin1')
raw_datam_cgq270_01feb2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\cgq270_crm_01022026_columns.csv',sep=';',encoding='latin1')
raw_datam_cgq270_01feb2026.rename(columns={'Unnamed: 1':'Message Type',
                                 'Unnamed: 2':'Protocole',
                                 'Unnamed: 3':'IMEI',
                                 'Unnamed: 4':'Serial',
                                 'Unnamed: 5':'Mileage',
                                 'Unnamed: 6':'Date',
                                 'Unnamed: 7':'Ignition',
                                 'Unnamed: 8':'Latitude',
                                 'Unnamed: 9':'Longitude',
                                 'Unnamed: 10':'Altitude',
                                 'Unnamed: 11':'External Power',
                                 'Unnamed: 12':'RPM',
                                 'Unnamed: 13':'Speed',
                                 'Unnamed: 14':'Satellite Number',
                                 'Unnamed: 15':'Azimuth',
                                 'Unnamed: 16':'Bettery level',
                                 },inplace=True)
#raw_datam_cgq270.info()
#raw_datam_cgq270_01feb2026.head(1)

In [112]:
#Looking for event: 2026-02-01T14:29:16Z
value_to_look=input('Type the date to searh: ')
print("Working...")
raw_datam_cgq270_01feb2026_wanted=raw_datam_cgq270_01feb2026[raw_datam_cgq270_01feb2026['Date'].str.contains(value_to_look)]
raw_datam_cgq270_01feb2026_wanted[['Date','Mileage']]
#print("Distance between 5:41am and 5:40am: ",delta_x,'m','Speed between 5:41am and 5:40am',delta_s,'Km/h','Acceleration= ',acc_ms,'m/s^2')

Working...

                           Date           Mileage
14  Date:"2026-02-01T14:29:16Z"  Mileage:12535482

CGQ270 02jan2026 9:05, Wrong odometer found.

In [113]:
raw_data_cgq270_02jan2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\cgq270_crm_0203_jan2026.csv',sep=';',encoding='latin1')
raw_datam_cgq270_02jan2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\cgq270_crm_0203_jan2026_columns.csv',sep=',',encoding='latin1')
raw_datam_cgq270_02jan2026.rename(columns={'Unnamed: 1':'Message Type',
                                 'Unnamed: 2':'Protocole',
                                 'Unnamed: 3':'IMEI',
                                 'Unnamed: 4':'Serial',
                                 'Unnamed: 5':'Mileage',
                                 'Unnamed: 6':'Date',
                                 'Unnamed: 7':'Ignition',
                                 'Unnamed: 8':'Latitude',
                                 'Unnamed: 9':'Longitude',
                                 'Unnamed: 10':'Altitude',
                                 'Unnamed: 11':'External Power',
                                 'Unnamed: 12':'RPM',
                                 'Unnamed: 13':'Speed',
                                 'Unnamed: 14':'Satellite Number',
                                 'Unnamed: 15':'Azimuth',
                                 'Unnamed: 16':'Bettery level',
                                 },inplace=True)
#raw_datam_cgq270.info()
#raw_datam_cgq270_02jan2026.head(1)

In [114]:
#Looking for event: 2026-01-02T14:05
raw_datam_cgq270_02jan2026['Mileage in miles']=0.0
aux=[]

raw_datam_cgq270_02jan2026_filtered=raw_datam_cgq270_02jan2026[~raw_datam_cgq270_02jan2026['Protocole'].str.contains('0')]

for i in range(0,raw_datam_cgq270_02jan2026_filtered.shape[0]):
    aux.append(float(raw_datam_cgq270_02jan2026_filtered.iloc[i,5][8:18])*0.000621371)
    #print(aux)    
raw_datam_cgq270_02jan2026_filtered['Mileage in miles']=aux

value_to_look=input('Type the date to searh: ')
raw_datam_cgq270_02jan2026_filtered_wanted=raw_datam_cgq270_02jan2026_filtered[raw_datam_cgq270_02jan2026_filtered['Date'].str.contains(value_to_look)]
raw_datam_cgq270_02jan2026_filtered_wanted[['Date','Mileage','Mileage in miles']]

                            Date           Mileage  Mileage in miles
106  Date:"2026-01-02T14:05:07Z"  Mileage:11145013       6925.187873
107  Date:"2026-01-02T14:05:25Z"  Mileage:11145197       6925.302205
108  Date:"2026-01-02T14:05:30Z"  Mileage:11145214       6925.312768
109  Date:"2026-01-02T14:05:33Z"  Mileage:11145229       6925.322089
110  Date:"2026-01-02T14:05:41Z"  Mileage:11145283       6925.355643
111  Date:"2026-01-02T14:05:51Z"  Mileage:11145369       6925.409081
112  Date:"2026-01-02T14:05:55Z"  Mileage:11145400       6925.428343

In [115]:
mileage_report_pm_cgq270_02jan2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\cgq270_mileageReport_02jan2026.csv',sep=',')
#mileage_report_pm_cgq270 01/02/2026 9:05
value_to_look=input('Type the value to searh: ')
print("Working...")
mr_cgq270_02jan2026_wanted=mileage_report_pm_cgq270_02jan2026[mileage_report_pm_cgq270_02jan2026['Time/Date (COT)'].str.contains(value_to_look)]
mr_cgq270_02jan2026_wanted

Working...

,Unit,Time/Date (COT),Address,Distance (mi),Total Distance (mi),Odometer,Driver
46,CGQ270,01/02/2026 9:05 AM,"Pitalito-Salado Blanco, Pitalito, Huila, 417037",1.15,52.38,10713.67,NaN
47,CGQ270,01/02/2026 9:05 AM,"Pitalito-Salado Blanco, Pitalito, Huila, 417037",3.63,56.00,10717.30,NaN
48,CGQ270,01/02/2026 9:05 AM,"Pitalito-Salado Blanco, Pitalito, Huila, 417037",0.05,56.06,10717.35,NaN
49,CGQ270,01/02/2026 9:05 AM,"Pitalito-Salado Blanco, Pitalito, Huila, 417037",3.63,59.68,10717.39,NaN
50,CGQ270,01/02/2026 9:05 AM,"Pitalito-Salado Blanco, Pitalito, Huila, 417037",2.59,62.28,10719.98,NaN

CGQ270 07feb2026

In [116]:
raw_data_cgq270_07feb2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\cgq270_crm_07feb2026.csv',sep=';',encoding='latin1')
raw_datam_cgq270_07feb2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\cgq270_crm_07feb2026_columns.csv',sep=';',encoding='latin1')
raw_datam_cgq270_07feb2026.rename(columns={'Unnamed: 1':'Message Type',
                                 'Unnamed: 2':'Protocole',
                                 'Unnamed: 3':'IMEI',
                                 'Unnamed: 4':'Serial',
                                 'Unnamed: 5':'Mileage',
                                 'Unnamed: 6':'Date',
                                 'Unnamed: 7':'Ignition',
                                 'Unnamed: 8':'Latitude',
                                 'Unnamed: 9':'Longitude',
                                 'Unnamed: 10':'Altitude',
                                 'Unnamed: 11':'External Power',
                                 'Unnamed: 12':'RPM',
                                 'Unnamed: 13':'Speed',
                                 'Unnamed: 14':'Satellite Number',
                                 'Unnamed: 15':'Azimuth',
                                 'Unnamed: 16':'Bettery level',
                                 },inplace=True)
#raw_datam_cgq270.info()
#raw_datam_cgq270_07feb2026.info()

In [55]:
#Looking for event: 2026-02-07T13:46
raw_datam_cgq270_07feb2026['Mileage in miles']=0.0
aux=[]

raw_datam_cgq270_07feb2026_filtered=raw_datam_cgq270_07feb2026[~raw_datam_cgq270_07feb2026['Protocole'].str.contains('0')]

for i in range(0,raw_datam_cgq270_07feb2026_filtered.shape[0]):
    aux.append(float(raw_datam_cgq270_07feb2026_filtered.iloc[i,5][8:18])*0.000621371)
    #print(aux)    
raw_datam_cgq270_07feb2026_filtered['Mileage in miles']=aux

value_to_look=input('Type the date to searh: ')
raw_datam_cgq270_07feb2026_wanted=raw_datam_cgq270_07feb2026_filtered[raw_datam_cgq270_07feb2026_filtered['Date'].str.contains(value_to_look)]
raw_datam_cgq270_07feb2026_wanted[['Date','Mileage','Mileage in miles']]

                           Date           Mileage  Mileage in miles
18  Date:"2026-02-07T13:46:06Z"  Mileage:12924101       8030.661562
19  Date:"2026-02-07T13:46:10Z"  Mileage:12924115       8030.670262
20  Date:"2026-02-07T13:46:37Z"  Mileage:12924188       8030.715622

In [56]:
mileage_report_pm_cgq270_07feb2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\cgq270_mileageReport_07022026.csv',sep=',')
#mileage_report_pm_cgq270 02/07/2026 8:4
value_to_look=input('Type the value to searh: ')
print("Working...")
mr_cgq270_01feb2026_wanted=mileage_report_pm_cgq270_07feb2026[mileage_report_pm_cgq270_07feb2026['Time/Date (COT)'].str.contains(value_to_look)]
mr_cgq270_01feb2026_wanted

Working...

,Unit,Time/Date (COT),Address,Distance (mi),Total Distance (mi),Odometer,Driver
0,CGQ270,02/07/2026 8:46 AM,"10373-101 45HLC, Pitalito, Huila, 417037",0.54,0.54,8031.63,NaN
1,CGQ270,02/07/2026 8:47 AM,"2158-2862 45HLC, Pitalito, Huila, 417037",0.28,0.82,8031.91,NaN
2,CGQ270,02/07/2026 8:48 AM,"231-21 45HLC, Pitalito, Huila, 417037",0.03,0.85,8031.94,NaN
3,CGQ270,02/07/2026 8:48 AM,"Frente Glorieta del Terminal, Pitalito, Huila,...",0.02,0.87,8031.96,NaN
4,CGQ270,02/07/2026 8:48 AM,"45, Pitalito, Huila, 417030",0.06,0.93,8032.02,NaN
5,CGQ270,02/07/2026 8:49 AM,"45, Pitalito, Huila, 417030",0.34,1.27,8032.36,NaN

EQZ329 28ene2026 5:41 PM. I did not find any mistake!

In [118]:
raw_data_eqz329_28_jan2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\eqz329_crm_28ene2026.csv',sep=',')
raw_data_eqz329_28_jan2026_columns=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\eqz329_crm_28ene2026_columns.csv',sep=',')
raw_data_eqz329_28_jan2026_columns['Date']='NaN'
raw_data_eqz329_28_jan2026['Message_Type']='NaN'
aux_m=[]

for i in range(0,raw_data_eqz329_28_jan2026.shape[0]):
    aux_m.append(raw_data_eqz329_28_jan2026.iloc[i,1][6:11])
#print(aux_m)

gtfri_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTFRI')]
gtigl_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTIGL')]
gtign_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTIGN')]
gtigf_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTIGF')]
gtidn_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTIDN')]
gtidf_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTIDF')]
gtdog_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTDOG')]
gtrtl_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTRTL')]

date_gtfri=[]
date_gtigl=[]
date_gtign=[]
date_gtigf=[]
date_gtidn=[]
date_gtidf=[]
date_gtdog=[]
date_gtrtl=[]

km_gtfri=[]
km_gtigl=[]
km_gtign=[]
km_gtigf=[]
km_gtidn=[]
km_gtidf=[]
km_gtdog=[]
km_gtrtl=[]

for i in range(0, gtfri_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtfri.append(str(gtfri_raw_data_eqz329_28_jan2026.iloc[i,13]))    
    km_gtfri.append((float(gtfri_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)
gtfri_raw_data_eqz329_28_jan2026['Date']=date_gtfri
#gtfri_raw_data_eqz329_28_jan2026.info()
gtfri_raw_data_eqz329_28_jan2026['Km in miles']=km_gtfri

for i in range(0, gtigl_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtigl.append(str(gtigl_raw_data_eqz329_28_jan2026.iloc[i,13]))    
    km_gtigl.append((float(gtigl_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)
gtigl_raw_data_eqz329_28_jan2026['Date']=date_gtigl
#gtigl_raw_data_eqz329_28_jan2026.info()
gtigl_raw_data_eqz329_28_jan2026['Km in miles']=km_gtigl

for i in range(0, gtign_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtign.append(str(gtign_raw_data_eqz329_28_jan2026.iloc[i,11]))    
    km_gtign.append((float(gtign_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)
gtign_raw_data_eqz329_28_jan2026['Date']=date_gtign
#gtigl_raw_data_eqz329_28_jan2026.info()
gtign_raw_data_eqz329_28_jan2026['Km in miles']=km_gtign

for i in range(0, gtigf_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtigf.append(str(gtigf_raw_data_eqz329_28_jan2026.iloc[i,11]))    
    km_gtigf.append((float(gtigf_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)
gtigf_raw_data_eqz329_28_jan2026['Date']=date_gtigf
#gtigl_raw_data_eqz329_28_jan2026.info()
gtigf_raw_data_eqz329_28_jan2026['Km in miles']=km_gtigf

for i in range(0, gtidn_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtidn.append(str(gtidn_raw_data_eqz329_28_jan2026.iloc[i,12]))    
    km_gtidn.append((float(gtidn_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)    
gtidn_raw_data_eqz329_28_jan2026['Date']=date_gtidn
#gtigl_raw_data_eqz329_28_jan2026.info()
gtidn_raw_data_eqz329_28_jan2026['Km in miles']=km_gtidn

for i in range(0, gtidf_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtidf.append(str(gtidf_raw_data_eqz329_28_jan2026.iloc[i,12]))    
    km_gtidf.append((float(gtidf_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)    
gtidf_raw_data_eqz329_28_jan2026['Date']=date_gtidf
#gtigl_raw_data_eqz329_28_jan2026.info()
gtidf_raw_data_eqz329_28_jan2026['Km in miles']=km_gtidf

for i in range(0, gtdog_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtdog.append(str(gtdog_raw_data_eqz329_28_jan2026.iloc[i,13]))    
    km_gtdog.append((float(gtdog_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)   
gtdog_raw_data_eqz329_28_jan2026['Date']=date_gtdog
#gtigl_raw_data_eqz329_28_jan2026.info()
gtdog_raw_data_eqz329_28_jan2026['Km in miles']=km_gtdog

for i in range(0, gtrtl_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtrtl.append(str(gtrtl_raw_data_eqz329_28_jan2026.iloc[i,13]))    
    km_gtrtl.append((float(gtrtl_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)    
gtrtl_raw_data_eqz329_28_jan2026['Date']=date_gtrtl
#gtigl_raw_data_eqz329_28_jan2026.info()
gtrtl_raw_data_eqz329_28_jan2026['Km in miles']=km_gtrtl

#202601282241
value_to_look=input('Type the date to searh: ')
gtfri_raw_data_eqz329_28_jan2026_wanted=gtfri_raw_data_eqz329_28_jan2026[gtfri_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtigl_raw_data_eqz329_28_jan2026_wanted=gtigl_raw_data_eqz329_28_jan2026[gtigl_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtign_raw_data_eqz329_28_jan2026_wanted=gtign_raw_data_eqz329_28_jan2026[gtign_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtigf_raw_data_eqz329_28_jan2026_wanted=gtigf_raw_data_eqz329_28_jan2026[gtigf_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtidn_raw_data_eqz329_28_jan2026_wanted=gtidn_raw_data_eqz329_28_jan2026[gtidn_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtidf_raw_data_eqz329_28_jan2026_wanted=gtidf_raw_data_eqz329_28_jan2026[gtidf_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtdog_raw_data_eqz329_28_jan2026_wanted=gtdog_raw_data_eqz329_28_jan2026[gtdog_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtrtl_raw_data_eqz329_28_jan2026_wanted=gtrtl_raw_data_eqz329_28_jan2026[gtrtl_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
#gtfri_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']]
#gtigl_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']]
print(gtfri_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtigl_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtign_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtigf_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtidn_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtidf_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],gtdog_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtrtl_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']])

         Message              Date Unnamed: 20   Km in miles
910  +RESP:GTFRI  20260128224114.0     52278.4  32484.281686
911  +RESP:GTFRI  20260128224138.0     52278.6  32484.405961
912  +RESP:GTFRI  20260128224138.0     52278.6  32484.405961
913  +RESP:GTFRI  20260128224138.0     52278.6  32484.405961
914  +RESP:GTFRI  20260128224138.0     52278.6  32484.405961
915  +RESP:GTFRI  20260128224144.0     52278.6  32484.405961
916  +RESP:GTFRI  20260128224144.0     52278.6  32484.405961
917  +RESP:GTFRI  20260128224144.0     52278.6  32484.405961
918  +RESP:GTFRI  20260128224144.0     52278.6  32484.405961
919  +RESP:GTFRI  20260128224144.0     52278.6  32484.405961
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: [] Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []

In [119]:
mileage_report_pm_eqz329_28jan2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\eqz329_mileageReport_28ene2026.csv',sep=',')
#01/28/2026 5:41 PM 
value_to_look=input('Type the value to searh: ')
print("Working...")
mr_eqz329_28jan2026_wanted=mileage_report_pm_eqz329_28jan2026[mileage_report_pm_eqz329_28jan2026['Time/Date (COT)'].str.contains(value_to_look)]
mr_eqz329_28jan2026_wanted

Working...

,Unit,Time/Date (COT),Address,Distance (mi),Total Distance (mi),Odometer,Driver
349,EQZ329,01/28/2026 5:41 PM,"212-21106 Cra 30, Pasto, Nariño, 520002",0.06,61.27,32485.98,NaN
350,EQZ329,01/28/2026 5:41 PM,"212-21106 Cra 30, Pasto, Nariño, 520002",2.92,64.19,32488.84,NaN

SOO657 No data found on Ignition 01-feb-2026. No data found on this date in Ignition.

In [121]:
raw_data_soo657_01_feb_2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\soo657_crm_01022026.csv',sep=',')
raw_data_soo657_01_feb_2026_columns=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\soo657_crm_01022026_columns.csv',sep=',')
raw_data_soo657_01_feb_2026_columns['Date']='NaN'
raw_data_soo657_01_feb_2026['Message_Type']='NaN'
aux_m=[]

gtfri_raw_data_soo657_01_feb_2026=raw_data_soo657_01_feb_2026_columns[raw_data_soo657_01_feb_2026_columns['Message'].str.contains('GTFRI')]
gtpdp_raw_data_soo657_01_feb_2026=raw_data_soo657_01_feb_2026_columns[raw_data_soo657_01_feb_2026_columns['Message'].str.contains('GTPDP')]

date_gtfri=[]
date_gtpdp=[]
km_gtfri=[]
km_gtpdp=[]

for i in range(0,gtfri_raw_data_soo657_01_feb_2026.shape[0]):
    date_gtfri.append(str(gtfri_raw_data_soo657_01_feb_2026.iloc[i,13]))    
    km_gtfri.append((float(gtfri_raw_data_soo657_01_feb_2026.iloc[i,20]))*0.621371)
gtfri_raw_data_soo657_01_feb_2026['Date']=date_gtfri
gtfri_raw_data_soo657_01_feb_2026['Km in miles']=km_gtfri

for i in range(0,gtpdp_raw_data_soo657_01_feb_2026.shape[0]):
    date_gtpdp.append(str(gtpdp_raw_data_soo657_01_feb_2026.iloc[i,13]))    
    km_gtpdp.append((float(gtpdp_raw_data_soo657_01_feb_2026.iloc[i,20]))*0.621371)
gtpdp_raw_data_soo657_01_feb_2026['Date']=date_gtpdp
gtpdp_raw_data_soo657_01_feb_2026['Km in miles']=km_gtpdp

#20260201
value_to_look=input('Type the date to searh: ')
gtfri_raw_data_soo657_01_feb_2026_wanted=gtfri_raw_data_soo657_01_feb_2026[gtfri_raw_data_soo657_01_feb_2026['Date'].str.contains(value_to_look)]
gtpdp_raw_data_soo657_01_feb_2026_wanted=gtpdp_raw_data_soo657_01_feb_2026[gtpdp_raw_data_soo657_01_feb_2026['Date'].str.contains(value_to_look)]

print(gtfri_raw_data_soo657_01_feb_2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],gtpdp_raw_data_soo657_01_feb_2026_wanted[['Message','Date','Unnamed: 20','Km in miles']])
#raw_data_soo657_01_feb_2026_columns['Message'].value_counts()

        Message              Date  Unnamed: 20   Km in miles
0   +RESP:GTFRI  20260201001937.0      18837.1  11704.827664
2   +RESP:GTFRI  20260201011951.0      18837.1  11704.827664
4   +RESP:GTFRI  20260201021956.0      18837.1  11704.827664
6   +RESP:GTFRI  20260201032011.0      18837.1  11704.827664
8   +RESP:GTFRI  20260201042026.0      18837.1  11704.827664
10  +RESP:GTFRI  20260201052026.0      18837.1  11704.827664
12  +RESP:GTFRI  20260201062102.0      18837.1  11704.827664
14  +RESP:GTFRI  20260201072051.0      18837.1  11704.827664
15  +RESP:GTFRI  20260201082053.0      18837.1  11704.827664
16  +RESP:GTFRI  20260201092109.0      18837.1  11704.827664
17  +RESP:GTFRI  20260201102112.0      18837.1  11704.827664
18  +RESP:GTFRI  20260201112126.0      18837.1  11704.827664
19  +RESP:GTFRI  20260201122132.0      18837.1  11704.827664
21  +RESP:GTFRI  20260201132146.0      18837.1  11704.827664
23  +RESP:GTFRI  20260201142152.0      18837.1  11704.827664
25  +RESP:GTFRI  20260201152205.0      18837.1  11704.827664
27  +RESP:GTFRI  20260201162210.0      18837.1  11704.827664
29  +RESP:GTFRI  20260201172224.0      18837.1  11704.827664
31  +RESP:GTFRI  20260201182230.0      18837.1  11704.827664
33  +RESP:GTFRI  20260201192246.0      18837.1  11704.827664
35  +RESP:GTFRI  20260201202250.0      18837.1  11704.827664
37  +RESP:GTFRI  20260201212304.0      18837.1  11704.827664
39  +RESP:GTFRI  20260201222309.0      18837.1  11704.827664
41  +RESP:GTFRI  20260201232323.0      18837.1  11704.827664 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []

SOO657 02-01-2026 12:39

In [122]:
raw_data_soo657_02_jan_2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\soo657_crm_02jan2026.csv',sep=',')
raw_data_soo657_02_jan_2026_columns=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\soo657_crm_02jan2026_columns.csv',sep=',')
raw_data_soo657_02_jan_2026_columns['Date']='NaN'
raw_data_soo657_02_jan_2026_columns['Message_Type']='NaN'
aux_m=[]

for i in range(0,raw_data_soo657_02_jan_2026_columns.shape[0]):
    aux_m.append(raw_data_soo657_02_jan_2026_columns.iloc[i,0][6:11])

raw_data_soo657_02_jan_2026_columns['Message_Type']=aux_m

gtfri_raw_data_soo657_02_jan_2026=raw_data_soo657_02_jan_2026_columns[raw_data_soo657_02_jan_2026_columns['Message'].str.contains('GTFRI')]
gtigl_raw_data_soo657_02_jan_2026=raw_data_soo657_02_jan_2026_columns[raw_data_soo657_02_jan_2026_columns['Message'].str.contains('GTIGL')]
gtign_raw_data_soo657_02_jan_2026=raw_data_soo657_02_jan_2026_columns[raw_data_soo657_02_jan_2026_columns['Message'].str.contains('GTIGN')]
gtigf_raw_data_soo657_02_jan_2026=raw_data_soo657_02_jan_2026_columns[raw_data_soo657_02_jan_2026_columns['Message'].str.contains('GTIGF')]
gtidn_raw_data_soo657_02_jan_2026=raw_data_soo657_02_jan_2026_columns[raw_data_soo657_02_jan_2026_columns['Message'].str.contains('GTIDN')]
gtidf_raw_data_soo657_02_jan_2026=raw_data_soo657_02_jan_2026_columns[raw_data_soo657_02_jan_2026_columns['Message'].str.contains('GTIDF')]
gtdog_raw_data_soo657_02_jan_2026=raw_data_soo657_02_jan_2026_columns[raw_data_soo657_02_jan_2026_columns['Message'].str.contains('GTDOG')]
gtrtl_raw_data_soo657_02_jan_2026=raw_data_soo657_02_jan_2026_columns[raw_data_soo657_02_jan_2026_columns['Message'].str.contains('GTRTL')]

date_gtfri=[]
date_gtigl=[]
date_gtign=[]
date_gtigf=[]
date_gtidn=[]
date_gtidf=[]
date_gtdog=[]
date_gtrtl=[]

km_gtfri=[]
km_gtigl=[]
km_gtign=[]
km_gtigf=[]
km_gtidn=[]
km_gtidf=[]
km_gtdog=[]
km_gtrtl=[]

for i in range(0, gtfri_raw_data_soo657_02_jan_2026.shape[0]):
    date_gtfri.append(str(gtfri_raw_data_soo657_02_jan_2026.iloc[i,13]))    
    km_gtfri.append((float(gtfri_raw_data_soo657_02_jan_2026.iloc[i,20]))*0.621371)
gtfri_raw_data_soo657_02_jan_2026['Date']=date_gtfri
#gtfri_raw_data_eqz329_28_jan2026.info()
gtfri_raw_data_soo657_02_jan_2026['Km in miles']=km_gtfri

for i in range(0, gtigl_raw_data_soo657_02_jan_2026.shape[0]):
    date_gtigl.append(str(gtigl_raw_data_soo657_02_jan_2026.iloc[i,13]))    
    km_gtigl.append((float(gtigl_raw_data_soo657_02_jan_2026.iloc[i,20]))*0.621371)
gtigl_raw_data_soo657_02_jan_2026['Date']=date_gtigl
#gtfri_raw_data_eqz329_28_jan2026.info()
gtigl_raw_data_soo657_02_jan_2026['Km in miles']=km_gtigl

for i in range(0, gtign_raw_data_soo657_02_jan_2026.shape[0]):
    date_gtign.append(str(gtign_raw_data_soo657_02_jan_2026.iloc[i,13]))    
    km_gtign.append((float(gtign_raw_data_soo657_02_jan_2026.iloc[i,20]))*0.621371)
gtign_raw_data_soo657_02_jan_2026['Date']=date_gtign
gtign_raw_data_soo657_02_jan_2026['Km in miles']=km_gtign

for i in range(0, gtigf_raw_data_soo657_02_jan_2026.shape[0]):
    date_gtigf.append(str(gtigf_raw_data_soo657_02_jan_2026.iloc[i,13]))    
    km_gtigf.append((float(gtigf_raw_data_soo657_02_jan_2026.iloc[i,20]))*0.621371)
gtigf_raw_data_soo657_02_jan_2026['Date']=date_gtigf
gtigf_raw_data_soo657_02_jan_2026['Km in miles']=km_gtigf

for i in range(0, gtidn_raw_data_soo657_02_jan_2026.shape[0]):
    date_gtidn.append(str(gtidn_raw_data_soo657_02_jan_2026.iloc[i,12]))    
    km_gtidn.append((float(gtidn_raw_data_soo657_02_jan_2026.iloc[i,20]))*0.621371)
    print(date_gtidn)
gtidn_raw_data_soo657_02_jan_2026['Date']=date_gtidn
gtidn_raw_data_soo657_02_jan_2026['Km in miles']=km_gtidn

for i in range(0, gtdog_raw_data_soo657_02_jan_2026.shape[0]):
    date_gtdog.append(str(gtdog_raw_data_soo657_02_jan_2026.iloc[i,13]))    
    km_gtdog.append((float(gtdog_raw_data_soo657_02_jan_2026.iloc[i,20]))*0.621371)
gtdog_raw_data_soo657_02_jan_2026['Date']=date_gtdog
gtdog_raw_data_soo657_02_jan_2026['Km in miles']=km_gtdog

for i in range(0, gtrtl_raw_data_soo657_02_jan_2026.shape[0]):
    date_gtrtl.append(str(gtrtl_raw_data_soo657_02_jan_2026.iloc[i,13]))    
    km_gtrtl.append((float(gtrtl_raw_data_soo657_02_jan_2026.iloc[i,20]))*0.621371)
gtrtl_raw_data_soo657_02_jan_2026['Date']=date_gtrtl
gtrtl_raw_data_soo657_02_jan_2026['Km in miles']=km_gtrtl

#202601021739
value_to_look=input('Type the date to searh: ')
gtfri_raw_data_soo657_02_jan2026_wanted=gtfri_raw_data_soo657_02_jan_2026[gtfri_raw_data_soo657_02_jan_2026['Date'].str.contains(value_to_look)]
gtigl_raw_data_soo657_02_jan2026_wanted=gtigl_raw_data_soo657_02_jan_2026[gtigl_raw_data_soo657_02_jan_2026['Date'].str.contains(value_to_look)]
gtign_raw_data_soo657_02_jan2026_wanted=gtign_raw_data_soo657_02_jan_2026[gtign_raw_data_soo657_02_jan_2026['Date'].str.contains(value_to_look)]
gtigf_raw_data_soo657_02_jan2026_wanted=gtigf_raw_data_soo657_02_jan_2026[gtigf_raw_data_soo657_02_jan_2026['Date'].str.contains(value_to_look)]
gtdog_raw_data_soo657_02_jan2026_wanted=gtdog_raw_data_soo657_02_jan_2026[gtdog_raw_data_soo657_02_jan_2026['Date'].str.contains(value_to_look)]
gtrtl_raw_data_soo657_02_jan2026_wanted=gtrtl_raw_data_soo657_02_jan_2026[gtrtl_raw_data_soo657_02_jan_2026['Date'].str.contains(value_to_look)]
#gtidn_raw_data_soo657_02_jan2026_wanted=gtidn_raw_data_soo657_02_jan_2026[gtidn_raw_data_soo657_02_jan_2026['Date'].str.contains(value_to_look)]

print(gtfri_raw_data_soo657_02_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtigl_raw_data_soo657_02_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtign_raw_data_soo657_02_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtigf_raw_data_soo657_02_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtdog_raw_data_soo657_02_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtrtl_raw_data_soo657_02_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']])

         Message            Date Unnamed: 20   Km in miles
414  +RESP:GTFRI  20260102173908     17082.3  10614.445833
415  +RESP:GTFRI  20260102173932     17082.5  10614.570107
416  +RESP:GTFRI  20260102173947     17082.6  10614.632245
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []

In [123]:
mileage_report_pm_soo657_02_jan_2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\soo657_mileageReport_02jan2026.csv',sep=',')
#mileage_report_pm_cgq270 01/02/2026 12:39 PM
value_to_look=input('Type the value to searh: ')
print("Working...")
mr_soo657_02_jan_2026_wanted=mileage_report_pm_soo657_02_jan_2026[mileage_report_pm_soo657_02_jan_2026['Time/Date (COT)'].str.contains(value_to_look)]
mr_soo657_02_jan_2026_wanted

Working...

,Unit,Time/Date (COT),Address,Distance (mi),Total Distance (mi),Odometer,Driver
159,SOO657,01/02/2026 12:39 PM,"322-3230 40, Soacha, Cundinamarca, 250054",0.12,33.43,10615.07,NaN
160,SOO657,01/02/2026 12:39 PM,"32232-32284 40, Soacha, Cundinamarca, 250054",0.81,34.24,10615.87,NaN

PRZ982 16/01/2026 12:36 PM Trouble not found.

In [124]:
raw_data_prz982_1617_jan_2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\prz982_crm_1617jan2026.csv',sep=',')
raw_data_prz982_1617_jan_2026_columns=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\prz982_crm_1617jan2026_columns.csv',sep=',')
raw_data_prz982_1617_jan_2026_columns['Date']='NaN'
raw_data_prz982_1617_jan_2026['Message_Type']='NaN'
aux_m=[]

gtfri_raw_data_prz982_1617_jan_2026=raw_data_prz982_1617_jan_2026_columns[raw_data_prz982_1617_jan_2026_columns['Message'].str.contains('GTFRI')]
gtpdp_raw_data_prz982_1617_jan_2026=raw_data_prz982_1617_jan_2026_columns[raw_data_prz982_1617_jan_2026_columns['Message'].str.contains('GTPDP')]

date_gtfri=[]
date_gtpdp=[]
km_gtfri=[]
km_gtpdp=[]

for i in range(0,gtfri_raw_data_prz982_1617_jan_2026.shape[0]):
    date_gtfri.append(str(gtfri_raw_data_prz982_1617_jan_2026.iloc[i,13]))    
    km_gtfri.append((float(gtfri_raw_data_prz982_1617_jan_2026.iloc[i,20]))*0.621371)
gtfri_raw_data_prz982_1617_jan_2026['Date']=date_gtfri
gtfri_raw_data_prz982_1617_jan_2026['Km in miles']=km_gtfri

for i in range(0,gtpdp_raw_data_prz982_1617_jan_2026.shape[0]):
    date_gtpdp.append(str(gtpdp_raw_data_prz982_1617_jan_2026.iloc[i,13]))    
    km_gtpdp.append((float(gtpdp_raw_data_prz982_1617_jan_2026.iloc[i,20]))*0.621371)
gtpdp_raw_data_prz982_1617_jan_2026['Date']=date_gtpdp
gtpdp_raw_data_prz982_1617_jan_2026['Km in miles']=km_gtpdp

#202601161736
value_to_look=input('Type the date to searh: ')
gtfri_raw_data_prz982_1617_jan_2026_wanted=gtfri_raw_data_prz982_1617_jan_2026[gtfri_raw_data_prz982_1617_jan_2026['Date'].str.contains(value_to_look)]
gtpdp_raw_data_prz982_1617_jan_2026_wanted=gtpdp_raw_data_prz982_1617_jan_2026[gtpdp_raw_data_prz982_1617_jan_2026['Date'].str.contains(value_to_look)]

print(gtfri_raw_data_prz982_1617_jan_2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],gtpdp_raw_data_prz982_1617_jan_2026_wanted[['Message','Date','Unnamed: 20','Km in miles']])
#raw_data_soo657_01_feb_2026_columns['Message'].value_counts()

C:\Users\Jose.Hurtado\AppData\Local\Temp\ipykernel_26408\3857967028.py:2: DtypeWarning: Columns (0: Unnamed: 25) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data_prz982_1617_jan_2026_columns=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\prz982_crm_1617jan2026_columns.csv',sep=',')

         Message            Date Unnamed: 20   Km in miles
238  +RESP:GTFRI  20260116173611       64115  39839.201665
239  +RESP:GTFRI  20260116173617     64115.1  39839.263802
240  +RESP:GTFRI  20260116173659     64115.9  39839.760899 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []

In [125]:
mileage_report_pm_soo657_02_jan2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\prz982_mileageReport_1617jan2026.csv',sep=',')
#mileage_report_pm_soo657 01/16/2026 12:36 PM
value_to_look=input('Type the value to searh: ')
print("Working...")
mr_prz982_1617_jan_2026_wanted=mileage_report_pm_soo657_02_jan2026[mileage_report_pm_soo657_02_jan2026['Time/Date (COT)'].str.contains(value_to_look)]
mr_prz982_1617_jan_2026_wanted

Working...

,Unit,Time/Date (COT),Address,Distance (mi),Total Distance (mi),Odometer,Driver
86,PRZ982,01/16/2026 12:36 PM,"29, Salento, Quindío, 631027",0.06,21.56,39841.12,NaN
87,PRZ982,01/16/2026 12:36 PM,"29, Salento, Quindío, 631027",0.50,22.06,39841.62,NaN
88,PRZ982,01/16/2026 12:36 PM,"29, Salento, Quindío, 631027",0.25,22.31,39841.87,NaN