In [2]:
import pandas as pd
import numpy as np

• CGQ270  El día 01/02/2026 a las 09:05, el sistema registra un incremento de 4.17 km dentro del mismo minuto, lo cual no es coherente con el comportamiento real de desplazamiento de un vehículo.

• EQZ329  El día 28/01/2026 a las 5:41 PM, se presenta un salto de kilometraje de 4.60 km en el mismo minuto, evidenciando una inconsistencia en el registro del odómetro.

• SOO657 El día 01/02/2026 a las 12:39, el sistema presenta registros duplicados con un incremento de 1.30 km dentro del mismo minuto, lo que indica falla de datos.

• PRZ982  El día 16/01/2026 a las 12:36 PM, se registran múltiples incrementos de kilometraje dentro del mismo minuto, generando inconsistencias.

• Remember that GTPDP message does not have Odometer or Mileage field.

CGQ270 01feb2026: I did not found the event that customer reported on the raw data, that is the reason why I did not do Ignition data analysis.

In [3]:
raw_data_cgq270_01feb2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\cgq270_crm_01022026.csv',sep=';',encoding='latin1')
raw_datam_cgq270_01feb2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\cgq270_crm_01022026_columns.csv',sep=';',encoding='latin1')
raw_datam_cgq270_01feb2026.rename(columns={'Unnamed: 1':'Message Type',
                                 'Unnamed: 2':'Protocole',
                                 'Unnamed: 3':'IMEI',
                                 'Unnamed: 4':'Serial',
                                 'Unnamed: 5':'Mileage',
                                 'Unnamed: 6':'Date',
                                 'Unnamed: 7':'Ignition',
                                 'Unnamed: 8':'Latitude',
                                 'Unnamed: 9':'Longitude',
                                 'Unnamed: 10':'Altitude',
                                 'Unnamed: 11':'External Power',
                                 'Unnamed: 12':'RPM',
                                 'Unnamed: 13':'Speed',
                                 'Unnamed: 14':'Satellite Number',
                                 'Unnamed: 15':'Azimuth',
                                 'Unnamed: 16':'Bettery level',
                                 },inplace=True)
#raw_datam_cgq270.info()
raw_datam_cgq270_01feb2026.head(1)

,Message,Message Type,Protocole,IMEI,Serial,Mileage,Date,Ignition,Latitude,Longitude,Altitude,External Power,RPM,Speed,Satellite Number,Azimuth,Bettery level
0,"[{""Protocol"":""0x2525""","MessageType:""LocationInfoMessage""",ProtocolHeadType:19,"Imei:""869487061675582""",SerialNo:50944,Mileage:12535482,"Date:""2026-02-01T00:29:16Z""",IopIgnition:false,Latitude:1.8670226335525513,Longitude:-76.044204711914063,Altitude:1284.0,ExternalPowerVoltage:12.56,Rpm:-999,Speed:0.0,SatelliteNumber:16,Azimuth:284,BatteryLevel:93}]

In [4]:
#Looking for event: 2026-02-01T14:29:16Z
value_to_look=input('Type the date to searh: ')
print("Working...")
raw_datam_cgq270_01feb2026_wanted=raw_datam_cgq270_01feb2026[raw_datam_cgq270_01feb2026['Date'].str.contains(value_to_look)]
raw_datam_cgq270_01feb2026_wanted
#print("Distance between 5:41am and 5:40am: ",delta_x,'m','Speed between 5:41am and 5:40am',delta_s,'Km/h','Acceleration= ',acc_ms,'m/s^2')

Working...

,Message,Message Type,Protocole,IMEI,Serial,Mileage,Date,Ignition,Latitude,Longitude,Altitude,External Power,RPM,Speed,Satellite Number,Azimuth,Bettery level
14,"[{""Protocol"":""0x2525""","MessageType:""LocationInfoMessage""",ProtocolHeadType:19,"Imei:""869487061675582""",SerialNo:50958,Mileage:12535482,"Date:""2026-02-01T14:29:16Z""",IopIgnition:false,Latitude:1.8670226335525513,Longitude:-76.044204711914063,Altitude:1284.0,ExternalPowerVoltage:12.54,Rpm:-999,Speed:0.0,SatelliteNumber:14,Azimuth:284,BatteryLevel:90}]

CGQ270 07feb2026

In [5]:
raw_data_cgq270_07feb2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\cgq270_crm_07feb2026.csv',sep=';',encoding='latin1')
raw_datam_cgq270_07feb2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\cgq270_crm_07feb2026_columns.csv',sep=';',encoding='latin1')
raw_datam_cgq270_07feb2026.rename(columns={'Unnamed: 1':'Message Type',
                                 'Unnamed: 2':'Protocole',
                                 'Unnamed: 3':'IMEI',
                                 'Unnamed: 4':'Serial',
                                 'Unnamed: 5':'Mileage',
                                 'Unnamed: 6':'Date',
                                 'Unnamed: 7':'Ignition',
                                 'Unnamed: 8':'Latitude',
                                 'Unnamed: 9':'Longitude',
                                 'Unnamed: 10':'Altitude',
                                 'Unnamed: 11':'External Power',
                                 'Unnamed: 12':'RPM',
                                 'Unnamed: 13':'Speed',
                                 'Unnamed: 14':'Satellite Number',
                                 'Unnamed: 15':'Azimuth',
                                 'Unnamed: 16':'Bettery level',
                                 },inplace=True)
#raw_datam_cgq270.info()
raw_datam_cgq270_07feb2026.info()

<class 'pandas.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Message           175 non-null    str
 1   Message Type      175 non-null    str
 2   Protocole         175 non-null    str
 3   IMEI              175 non-null    str
 4   Serial            175 non-null    str
 5   Mileage           175 non-null    str
 6   Date              175 non-null    str
 7   Ignition          175 non-null    str
 8   Latitude          175 non-null    str
 9   Longitude         175 non-null    str
 10  Altitude          175 non-null    str
 11  External Power    165 non-null    str
 12  RPM               165 non-null    str
 13  Speed             154 non-null    str
 14  Satellite Number  154 non-null    str
 15  Azimuth           154 non-null    str
 16  Bettery level     154 non-null    str
dtypes: str(17)
memory usage: 23.4 KB

In [6]:
#Looking for event: 2026-02-07
raw_datam_cgq270_07feb2026['Mileage in miles']=0.0
aux=[]

raw_datam_cgq270_07feb2026_filtered=raw_datam_cgq270_07feb2026[~raw_datam_cgq270_07feb2026['Protocole'].str.contains('0')]

for i in range(0,raw_datam_cgq270_07feb2026_filtered.shape[0]):
    aux.append(float(raw_datam_cgq270_07feb2026_filtered.iloc[i,5][8:18])*0.000621371)
    #print(aux)    
raw_datam_cgq270_07feb2026_filtered['Mileage in miles']=aux

raw_datam_cgq270_07feb2026_filtered.info()

value_to_look=input('Type the date to searh: ')
raw_datam_cgq270_07feb2026_wanted=raw_datam_cgq270_07feb2026_filtered[raw_datam_cgq270_07feb2026_filtered['Date'].str.contains(value_to_look)]
raw_datam_cgq270_07feb2026_wanted[['Date','Mileage','Mileage in miles']]

<class 'pandas.DataFrame'>
Index: 148 entries, 0 to 174
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Message           148 non-null    str
 1   Message Type      148 non-null    str
 2   Protocole         148 non-null    str
 3   IMEI              148 non-null    str
 4   Serial            148 non-null    str
 5   Mileage           148 non-null    str
 6   Date              148 non-null    str
 7   Ignition          148 non-null    str
 8   Latitude          148 non-null    str
 9   Longitude         148 non-null    str
 10  Altitude          148 non-null    str
 11  External Power    148 non-null    str
 12  RPM               148 non-null    str
 13  Speed             148 non-null    str
 14  Satellite Number  148 non-null    str
 15  Azimuth           148 non-null    str
 16  Bettery level     148 non-null    str
 17  Mileage in miles  148 non-null    float64
dtypes: float64(1), str(17)
memory usage: 22.0 KB

                            Date           Mileage  Mileage in miles
0    Date:"2026-02-07T00:02:08Z"  Mileage:12924086       8030.652242
1    Date:"2026-02-07T01:02:08Z"  Mileage:12924086       8030.652242
2    Date:"2026-02-07T02:02:08Z"  Mileage:12924086       8030.652242
3    Date:"2026-02-07T03:02:08Z"  Mileage:12924086       8030.652242
4    Date:"2026-02-07T04:02:08Z"  Mileage:12924086       8030.652242
..                           ...               ...               ...
164  Date:"2026-02-07T19:35:21Z"  Mileage:12967237       8057.465022
167  Date:"2026-02-07T20:35:21Z"  Mileage:12967237       8057.465022
168  Date:"2026-02-07T21:35:20Z"  Mileage:12967237       8057.465022
171  Date:"2026-02-07T22:35:21Z"  Mileage:12967237       8057.465022
174  Date:"2026-02-07T23:35:21Z"  Mileage:12967237       8057.465022

[148 rows x 3 columns]

In [7]:
mileage_report_pm_cgq270_07feb2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\cgq270_mileageReport_07022026.csv',sep=',')
#mileage_report_pm_cgq270 02/07/2026 
value_to_look=input('Type the value to searh: ')
print("Working...")
mr_cgq270_01feb2026_wanted=mileage_report_pm_cgq270_07feb2026[mileage_report_pm_cgq270_07feb2026['Time/Date (COT)'].str.contains(value_to_look)]
mr_cgq270_01feb2026_wanted

Working...

,Unit,Time/Date (COT),Address,Distance (mi),Total Distance (mi),Odometer,Driver
0,CGQ270,02/07/2026 8:46 AM,"10373-101 45HLC, Pitalito, Huila, 417037",0.54,0.54,8031.63,NaN
1,CGQ270,02/07/2026 8:47 AM,"2158-2862 45HLC, Pitalito, Huila, 417037",0.28,0.82,8031.91,NaN
2,CGQ270,02/07/2026 8:48 AM,"231-21 45HLC, Pitalito, Huila, 417037",0.03,0.85,8031.94,NaN
3,CGQ270,02/07/2026 8:48 AM,"Frente Glorieta del Terminal, Pitalito, Huila,...",0.02,0.87,8031.96,NaN
4,CGQ270,02/07/2026 8:48 AM,"45, Pitalito, Huila, 417030",0.06,0.93,8032.02,NaN
...,...,...,...,...,...,...,...
74,CGQ270,02/07/2026 12:30 PM,"1 45, Pitalito, Huila, 417038",0.29,25.50,8056.59,NaN
75,CGQ270,02/07/2026 12:31 PM,"5 45, Pitalito, Huila, 417038",0.25,25.75,8056.84,NaN
76,CGQ270,02/07/2026 12:32 PM,"45, Pitalito, Huila, 417030",0.13,25.87,8056.96,NaN
77,CGQ270,02/07/2026 12:32 PM,"214-260 45HLC, Pitalito, Huila, 417030",0.83,26.70,8057.79,NaN
78,CGQ270,02/07/2026 12:34 PM,"21114-21480 45HLC, Pitalito, Huila, 417037",0.04,26.74,8057.83,NaN

EQZ329 28ene2026. I did not find any mistake!

In [8]:
raw_data_eqz329_28_jan2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\eqz329_crm_28ene2026.csv',sep=',')
raw_data_eqz329_28_jan2026_columns=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\eqz329_crm_28ene2026_columns.csv',sep=',')
raw_data_eqz329_28_jan2026_columns['Date']='NaN'
raw_data_eqz329_28_jan2026['Message_Type']='NaN'
aux_m=[]

for i in range(0,raw_data_eqz329_28_jan2026.shape[0]):
    aux_m.append(raw_data_eqz329_28_jan2026.iloc[i,1][6:11])
#print(aux_m)

gtfri_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTFRI')]
gtigl_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTIGL')]
gtign_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTIGN')]
gtigf_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTIGF')]
gtidn_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTIDN')]
gtidf_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTIDF')]
gtdog_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTDOG')]
gtrtl_raw_data_eqz329_28_jan2026=raw_data_eqz329_28_jan2026_columns[raw_data_eqz329_28_jan2026_columns['Message'].str.contains('GTRTL')]

date_gtfri=[]
date_gtigl=[]
date_gtign=[]
date_gtigf=[]
date_gtidn=[]
date_gtidf=[]
date_gtdog=[]
date_gtrtl=[]

km_gtfri=[]
km_gtigl=[]
km_gtign=[]
km_gtigf=[]
km_gtidn=[]
km_gtidf=[]
km_gtdog=[]
km_gtrtl=[]

for i in range(0, gtfri_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtfri.append(str(gtfri_raw_data_eqz329_28_jan2026.iloc[i,13]))    
    km_gtfri.append((float(gtfri_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)
gtfri_raw_data_eqz329_28_jan2026['Date']=date_gtfri
#gtfri_raw_data_eqz329_28_jan2026.info()
gtfri_raw_data_eqz329_28_jan2026['Km in miles']=km_gtfri

for i in range(0, gtigl_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtigl.append(str(gtigl_raw_data_eqz329_28_jan2026.iloc[i,13]))    
    km_gtigl.append((float(gtigl_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)
gtigl_raw_data_eqz329_28_jan2026['Date']=date_gtigl
#gtigl_raw_data_eqz329_28_jan2026.info()
gtigl_raw_data_eqz329_28_jan2026['Km in miles']=km_gtigl

for i in range(0, gtign_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtign.append(str(gtign_raw_data_eqz329_28_jan2026.iloc[i,11]))    
    km_gtign.append((float(gtign_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)
gtign_raw_data_eqz329_28_jan2026['Date']=date_gtign
#gtigl_raw_data_eqz329_28_jan2026.info()
gtign_raw_data_eqz329_28_jan2026['Km in miles']=km_gtign

for i in range(0, gtigf_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtigf.append(str(gtigf_raw_data_eqz329_28_jan2026.iloc[i,11]))    
    km_gtigf.append((float(gtigf_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)
gtigf_raw_data_eqz329_28_jan2026['Date']=date_gtigf
#gtigl_raw_data_eqz329_28_jan2026.info()
gtigf_raw_data_eqz329_28_jan2026['Km in miles']=km_gtigf

for i in range(0, gtidn_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtidn.append(str(gtidn_raw_data_eqz329_28_jan2026.iloc[i,12]))    
    km_gtidn.append((float(gtidn_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)    
gtidn_raw_data_eqz329_28_jan2026['Date']=date_gtidn
#gtigl_raw_data_eqz329_28_jan2026.info()
gtidn_raw_data_eqz329_28_jan2026['Km in miles']=km_gtidn

for i in range(0, gtidf_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtidf.append(str(gtidf_raw_data_eqz329_28_jan2026.iloc[i,12]))    
    km_gtidf.append((float(gtidf_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)    
gtidf_raw_data_eqz329_28_jan2026['Date']=date_gtidf
#gtigl_raw_data_eqz329_28_jan2026.info()
gtidf_raw_data_eqz329_28_jan2026['Km in miles']=km_gtidf

for i in range(0, gtdog_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtdog.append(str(gtdog_raw_data_eqz329_28_jan2026.iloc[i,13]))    
    km_gtdog.append((float(gtdog_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)   
gtdog_raw_data_eqz329_28_jan2026['Date']=date_gtdog
#gtigl_raw_data_eqz329_28_jan2026.info()
gtdog_raw_data_eqz329_28_jan2026['Km in miles']=km_gtdog

for i in range(0, gtrtl_raw_data_eqz329_28_jan2026.shape[0]):
    date_gtrtl.append(str(gtrtl_raw_data_eqz329_28_jan2026.iloc[i,13]))    
    km_gtrtl.append((float(gtrtl_raw_data_eqz329_28_jan2026.iloc[i,20]))*0.621371)
    print('Date GTDOG',date_gtrtl)
gtrtl_raw_data_eqz329_28_jan2026['Date']=date_gtrtl
#gtigl_raw_data_eqz329_28_jan2026.info()
gtrtl_raw_data_eqz329_28_jan2026['Km in miles']=km_gtrtl


#202601282241
value_to_look=input('Type the date to searh: ')
gtfri_raw_data_eqz329_28_jan2026_wanted=gtfri_raw_data_eqz329_28_jan2026[gtfri_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtigl_raw_data_eqz329_28_jan2026_wanted=gtigl_raw_data_eqz329_28_jan2026[gtigl_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtign_raw_data_eqz329_28_jan2026_wanted=gtign_raw_data_eqz329_28_jan2026[gtign_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtigf_raw_data_eqz329_28_jan2026_wanted=gtigf_raw_data_eqz329_28_jan2026[gtigf_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtidn_raw_data_eqz329_28_jan2026_wanted=gtidn_raw_data_eqz329_28_jan2026[gtidn_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtidf_raw_data_eqz329_28_jan2026_wanted=gtidf_raw_data_eqz329_28_jan2026[gtidf_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtdog_raw_data_eqz329_28_jan2026_wanted=gtdog_raw_data_eqz329_28_jan2026[gtdog_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
gtrtl_raw_data_eqz329_28_jan2026_wanted=gtrtl_raw_data_eqz329_28_jan2026[gtrtl_raw_data_eqz329_28_jan2026['Date'].str.contains(value_to_look)]
#gtfri_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']]
#gtigl_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']]
print(gtfri_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtigl_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtign_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtigf_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtidn_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtidf_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],gtdog_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],'\n',gtrtl_raw_data_eqz329_28_jan2026_wanted[['Message','Date','Unnamed: 20','Km in miles']])

Date GTDOG ['20260128215812.0']
         Message              Date Unnamed: 20   Km in miles
910  +RESP:GTFRI  20260128224114.0     52278.4  32484.281686
911  +RESP:GTFRI  20260128224138.0     52278.6  32484.405961
912  +RESP:GTFRI  20260128224138.0     52278.6  32484.405961
913  +RESP:GTFRI  20260128224138.0     52278.6  32484.405961
914  +RESP:GTFRI  20260128224138.0     52278.6  32484.405961
915  +RESP:GTFRI  20260128224144.0     52278.6  32484.405961
916  +RESP:GTFRI  20260128224144.0     52278.6  32484.405961
917  +RESP:GTFRI  20260128224144.0     52278.6  32484.405961
918  +RESP:GTFRI  20260128224144.0     52278.6  32484.405961
919  +RESP:GTFRI  20260128224144.0     52278.6  32484.405961
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: [] Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []
 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []

In [9]:
mileage_report_pm_eqz329_28jan2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\eqz329_mileageReport_28ene2026.csv',sep=',')
#01/28/2026 7:07 AM 
value_to_look=input('Type the value to searh: ')
print("Working...")
mr_eqz329_28jan2026_wanted=mileage_report_pm_eqz329_28jan2026[mileage_report_pm_eqz329_28jan2026['Time/Date (COT)'].str.contains(value_to_look)]
mr_eqz329_28jan2026_wanted

Working...

,Unit,Time/Date (COT),Address,Distance (mi),Total Distance (mi),Odometer,Driver
0,EQZ329,01/28/2026 7:06 AM,"Cra. 1 Este, Pasto, Nariño, 520010",0.12,0.12,32430.12,NaN
1,EQZ329,01/28/2026 7:07 AM,"Cra. 3a, Pasto, Nariño, 520010",0.06,0.19,32430.18,NaN
2,EQZ329,01/28/2026 7:07 AM,"Dg. 11 B, Pasto, Nariño, 520010",0.06,0.25,32430.24,NaN
3,EQZ329,01/28/2026 7:07 AM,"3152 Dg. 11 B, Pasto, Nariño, 520010",0.06,0.31,32430.31,NaN
4,EQZ329,01/28/2026 7:07 AM,"12 Cra. 3ª C, Pasto, Nariño, 520010",0.06,0.37,32430.37,NaN
...,...,...,...,...,...,...,...
419,EQZ329,01/28/2026 7:47 PM,"Cra. 3ª B, Pasto, Nariño, 520010",0.12,74.26,32495.74,NaN
420,EQZ329,01/28/2026 7:48 PM,"3152 Dg. 11 B, Pasto, Nariño, 520010",0.06,74.32,32495.80,NaN
421,EQZ329,01/28/2026 7:48 PM,"Dg. 11 B, Pasto, Nariño, 520010",0.12,74.44,32495.93,NaN
422,EQZ329,01/28/2026 7:49 PM,"Cl. 11A, Pasto, Nariño, 520010",0.06,74.51,32495.99,NaN
423,EQZ329,01/28/2026 7:50 PM,"Cl. 11A, Pasto, Nariño, 520010",0.06,74.57,32496.05,NaN

SOO657 No data found on Ignition 01-feb-2026. No data found on this date in Ignition.

In [28]:
raw_data_soo657_01_feb_2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\soo657_crm_01022026.csv',sep=',')
#raw_data_soo657_01_feb_2026.info()
raw_data_soo657_01_feb_2026_columns=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\soo657_crm_01022026_columns.csv',sep=',')
raw_data_soo657_01_feb_2026_columns['Date']='NaN'
raw_data_soo657_01_feb_2026['Message_Type']='NaN'
aux_m=[]

gtfri_raw_data_soo657_01_feb_2026=raw_data_soo657_01_feb_2026_columns[raw_data_soo657_01_feb_2026_columns['Message'].str.contains('GTFRI')]
gtpdp_raw_data_soo657_01_feb_2026=raw_data_soo657_01_feb_2026_columns[raw_data_soo657_01_feb_2026_columns['Message'].str.contains('GTPDP')]
#gtfri_raw_data_soo657_01_feb_2026.info()

date_gtfri=[]
date_gtpdp=[]
km_gtfri=[]
km_gtpdp=[]

for i in range(0,gtfri_raw_data_soo657_01_feb_2026.shape[0]):
    date_gtfri.append(str(gtfri_raw_data_soo657_01_feb_2026.iloc[i,13]))    
    km_gtfri.append((float(gtfri_raw_data_soo657_01_feb_2026.iloc[i,20]))*0.621371)
gtfri_raw_data_soo657_01_feb_2026['Date']=date_gtfri
gtfri_raw_data_soo657_01_feb_2026['Km in miles']=km_gtfri

for i in range(0,gtpdp_raw_data_soo657_01_feb_2026.shape[0]):
    date_gtpdp.append(str(gtpdp_raw_data_soo657_01_feb_2026.iloc[i,13]))    
    km_gtpdp.append((float(gtpdp_raw_data_soo657_01_feb_2026.iloc[i,20]))*0.621371)
gtpdp_raw_data_soo657_01_feb_2026['Date']=date_gtpdp
gtpdp_raw_data_soo657_01_feb_2026['Km in miles']=km_gtpdp


value_to_look=input('Type the date to searh: ')
gtfri_raw_data_soo657_01_feb_2026_wanted=gtfri_raw_data_soo657_01_feb_2026[gtfri_raw_data_soo657_01_feb_2026['Date'].str.contains(value_to_look)]
gtpdp_raw_data_soo657_01_feb_2026_wanted=gtpdp_raw_data_soo657_01_feb_2026[gtpdp_raw_data_soo657_01_feb_2026['Date'].str.contains(value_to_look)]

print(gtfri_raw_data_soo657_01_feb_2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],gtpdp_raw_data_soo657_01_feb_2026_wanted[['Message','Date','Unnamed: 20','Km in miles']])
#raw_data_soo657_01_feb_2026_columns['Message'].value_counts()

        Message              Date  Unnamed: 20   Km in miles
0   +RESP:GTFRI  20260201001937.0      18837.1  11704.827664
2   +RESP:GTFRI  20260201011951.0      18837.1  11704.827664
4   +RESP:GTFRI  20260201021956.0      18837.1  11704.827664
6   +RESP:GTFRI  20260201032011.0      18837.1  11704.827664
8   +RESP:GTFRI  20260201042026.0      18837.1  11704.827664
10  +RESP:GTFRI  20260201052026.0      18837.1  11704.827664
12  +RESP:GTFRI  20260201062102.0      18837.1  11704.827664
14  +RESP:GTFRI  20260201072051.0      18837.1  11704.827664
15  +RESP:GTFRI  20260201082053.0      18837.1  11704.827664
16  +RESP:GTFRI  20260201092109.0      18837.1  11704.827664
17  +RESP:GTFRI  20260201102112.0      18837.1  11704.827664
18  +RESP:GTFRI  20260201112126.0      18837.1  11704.827664
19  +RESP:GTFRI  20260201122132.0      18837.1  11704.827664
21  +RESP:GTFRI  20260201132146.0      18837.1  11704.827664
23  +RESP:GTFRI  20260201142152.0      18837.1  11704.827664
25  +RESP:GTFRI  20260201152205.0      18837.1  11704.827664
27  +RESP:GTFRI  20260201162210.0      18837.1  11704.827664
29  +RESP:GTFRI  20260201172224.0      18837.1  11704.827664
31  +RESP:GTFRI  20260201182230.0      18837.1  11704.827664
33  +RESP:GTFRI  20260201192246.0      18837.1  11704.827664
35  +RESP:GTFRI  20260201202250.0      18837.1  11704.827664
37  +RESP:GTFRI  20260201212304.0      18837.1  11704.827664
39  +RESP:GTFRI  20260201222309.0      18837.1  11704.827664
41  +RESP:GTFRI  20260201232323.0      18837.1  11704.827664 Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []

PRZ982

In [30]:
raw_data_prz982_1617_jan_2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\prz982_crm_1617jan2026.csv',sep=',')
raw_data_prz982_1617_jan_2026_columns=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\prz982_crm_1617jan2026_columns.csv',sep=',')
raw_data_prz982_1617_jan_2026_columns['Date']='NaN'
raw_data_prz982_1617_jan_2026['Message_Type']='NaN'
aux_m=[]

gtfri_raw_data_prz982_1617_jan_2026=raw_data_prz982_1617_jan_2026_columns[raw_data_prz982_1617_jan_2026_columns['Message'].str.contains('GTFRI')]
gtpdp_raw_data_prz982_1617_jan_2026=raw_data_prz982_1617_jan_2026_columns[raw_data_prz982_1617_jan_2026_columns['Message'].str.contains('GTPDP')]

date_gtfri=[]
date_gtpdp=[]
km_gtfri=[]
km_gtpdp=[]

for i in range(0,gtfri_raw_data_prz982_1617_jan_2026.shape[0]):
    date_gtfri.append(str(gtfri_raw_data_prz982_1617_jan_2026.iloc[i,13]))    
    km_gtfri.append((float(gtfri_raw_data_prz982_1617_jan_2026.iloc[i,20]))*0.621371)
gtfri_raw_data_prz982_1617_jan_2026['Date']=date_gtfri
gtfri_raw_data_prz982_1617_jan_2026['Km in miles']=km_gtfri

for i in range(0,gtpdp_raw_data_prz982_1617_jan_2026.shape[0]):
    date_gtpdp.append(str(gtpdp_raw_data_prz982_1617_jan_2026.iloc[i,13]))    
    km_gtpdp.append((float(gtpdp_raw_data_prz982_1617_jan_2026.iloc[i,20]))*0.621371)
gtpdp_raw_data_prz982_1617_jan_2026['Date']=date_gtpdp
gtpdp_raw_data_prz982_1617_jan_2026['Km in miles']=km_gtpdp


value_to_look=input('Type the date to searh: ')
gtfri_raw_data_prz982_1617_jan_2026_wanted=gtfri_raw_data_prz982_1617_jan_2026[gtfri_raw_data_prz982_1617_jan_2026['Date'].str.contains(value_to_look)]
gtpdp_raw_data_prz982_1617_jan_2026_wanted=gtpdp_raw_data_prz982_1617_jan_2026[gtpdp_raw_data_prz982_1617_jan_2026['Date'].str.contains(value_to_look)]

print(gtfri_raw_data_prz982_1617_jan_2026_wanted[['Message','Date','Unnamed: 20','Km in miles']],gtpdp_raw_data_prz982_1617_jan_2026_wanted[['Message','Date','Unnamed: 20','Km in miles']])
#raw_data_soo657_01_feb_2026_columns['Message'].value_counts()

C:\Users\Jose.Hurtado\AppData\Local\Temp\ipykernel_26408\4114722404.py:2: DtypeWarning: Columns (0: Unnamed: 25) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data_prz982_1617_jan_2026_columns=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\prz982_crm_1617jan2026_columns.csv',sep=',')

          Message            Date Unnamed: 20   Km in miles
1     +RESP:GTFRI  20260116003650       64080  39817.453680
3     +RESP:GTFRI  20260116013705       64080  39817.453680
5     +RESP:GTFRI  20260116023719       64080  39817.453680
7     +RESP:GTFRI  20260116033730       64080  39817.453680
9     +RESP:GTFRI  20260116043735       64080  39817.453680
...           ...             ...         ...           ...
1140  +RESP:GTFRI  20260116234421       64263  39931.164573
1141  +RESP:GTFRI  20260116234430       64263  39931.164573
1142  +RESP:GTFRI  20260116234433       64263  39931.164573
1143  +RESP:GTFRI  20260116234533       64263  39931.164573
1148  +RESP:GTFRI  20260116234608       64263  39931.164573

[975 rows x 4 columns] Empty DataFrame
Columns: [Message, Date, Unnamed: 20, Km in miles]
Index: []

In [33]:
mileage_report_pm_prz982_1617_jan_2026=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\chilco\prz982_mileageReport_1617jan2026.csv',sep=',')
#mileage_report_pm_cgq270 02/07/2026 
value_to_look=input('Type the value to searh: ')
print("Working...")
mr_prz982_1617_jan_2026_wanted=mileage_report_pm_prz982_1617_jan_2026[mileage_report_pm_prz982_1617_jan_2026['Time/Date (COT)'].str.contains(value_to_look)]
mr_prz982_1617_jan_2026_wanted

Working...

,Unit,Time/Date (COT),Address,Distance (mi),Total Distance (mi),Odometer,Driver
0,PRZ982,01/16/2026 11:14 AM,"29RS, Pereira, Risaralda, 660007",0.06,0.06,39819.62,NaN
1,PRZ982,01/16/2026 11:14 AM,"29RS, Pereira, Risaralda, 660007",0.12,0.19,39819.75,NaN
2,PRZ982,01/16/2026 11:14 AM,"29RS, Pereira, Risaralda, 660008",0.50,0.68,39820.24,NaN
3,PRZ982,01/16/2026 11:15 AM,"29RS, Pereira, Risaralda, 660008",0.50,1.18,39820.74,NaN
4,PRZ982,01/16/2026 11:16 AM,"Av. Del Sur, Pereira, Risaralda, 660001",0.06,1.24,39820.80,NaN
...,...,...,...,...,...,...,...
568,PRZ982,01/16/2026 6:32 PM,"Pereira-El Tigre, Pereira, Risaralda, 660008",0.06,112.91,39932.47,NaN
569,PRZ982,01/16/2026 6:32 PM,"Vía Rural El Tigre, Pereira, Risaralda, 660008",0.06,112.97,39932.53,NaN
570,PRZ982,01/16/2026 6:32 PM,"Vía Rural El Tigre, Pereira, Risaralda, 660008",0.06,113.03,39932.59,NaN
571,PRZ982,01/16/2026 6:33 PM,"Vía Rural El Tigre, Pereira, Risaralda, 660008",0.06,113.09,39932.66,NaN
572,PRZ982,01/16/2026 6:33 PM,"Pereira-El Tigre, Pereira, Risaralda, 660008",0.56,113.65,39933.21,NaN