In [21]:
import pandas as pd
import numpy as np

In [22]:
palomino_devices=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\palomino\devices.csv',sep=',')
palomino_devices['Warning']='NaN'
palomino_devices.info()
palomino_devices[['Label','IMEI','Serial','Paired Unit','Last Event','Last Message Time']]

<class 'pandas.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     15 non-null     int64
 1   Label                  15 non-null     str
 2   Status                 15 non-null     str
 3   Reference              15 non-null     int64
 4   Manufacturer           15 non-null     str
 5   Model                  15 non-null     str
 6   Group                  0 non-null      float64
 7   Serial                 15 non-null     str
 8   IMEI                   15 non-null     int64
 9   Paired Unit            0 non-null      float64
 10  GPS Unit ESN           0 non-null      float64
 11  Camera ESN             0 non-null      float64
 12  SIM #                  15 non-null     str
 13  SIM Phone              0 non-null      float64
 14  Network                0 non-null      float64
 15  SIM Provider Account   15 non-null     str
 16  SIM Provider           15 non-null     str
 17  Unit Time              4 non-null      str
 18  Server Time            4 non-null      str
 19  Last Message Time      5 non-null      str
 20  Age                    5 non-null      str
 21  Firmware               5 non-null      str
 22  Hardware Version       15 non-null     str
 23  Mode                   15 non-null     str
 24  Show In Web            15 non-null     str
 25  Installed              15 non-null     str
 26  Installed On           15 non-null     str
 27  Diagnostic Score       0 non-null      float64
 28  Diagnostic Updated on  0 non-null      float64
 29  Health Score           15 non-null     float64
 30  Live Mode              15 non-null     str
 31  Battery Level          0 non-null      float64
 32  VIN                    0 non-null      float64
 33  Last Event             4 non-null      str
 34  Tags                   15 non-null     str
 35  Billing Account        0 non-null      float64
 36  Address                4 non-null      str
 37  Warning                15 non-null     str
dtypes: float64(12), int64(3), str(23)
memory usage: 4.6 KB

,Label,IMEI,Serial,Paired Unit,Last Event,Last Message Time
0,AVM-758 VF,16100000578856,6B3013YJ,NaN,NaN,NaN
1,AVW-705 VF,16100000578898,6B30141L,NaN,NaN,2026/01/27 10:41:57
2,AKX-805 VF,16100000588384,6B3013X4,NaN,Ignition Off,2026/02/14 11:25:34
3,AKW-894 VF,16100000586230,6B301405,NaN,NaN,NaN
4,AKW-860 VF,16100000579342,6B3013VY,NaN,NaN,NaN
5,APW-717 VF,16100000542282,6B301GM3,NaN,NaN,NaN
6,AKW-731 VF,16100000579086,6B3013VD,NaN,NaN,NaN
7,AKX-731 VF,16100000580381,6B30140Q,NaN,NaN,NaN
8,BZB-796 VF,16100000541318,6B301GPQ,NaN,NaN,NaN
9,AKX-767 VF,16100000587063,6B3013XF,NaN,NaN,NaN
10,CDF-883 VF,16100000528166,6B3013YL,NaN,Ignition Off,2026/02/12 06:23:34
11,BZA-845 VF,16100000505164,6B301GMQ,NaN,Drive,2026/01/27 02:06:18
12,BHT-750 VF,16100000490771,6B301GNV,NaN,Ignition Off,2026/02/17 13:50:46
13,BZB-722 VF,16100000524116,6B301GMW,NaN,NaN,NaN
14,APT-848 VF,16100000587717,6B3013ZQ,NaN,NaN,NaN

In [ ]:
option=int(input('Look for: 1, exit: 0'))
while option!=0:
    if option==1:
        value_to_look=input('Type the number plate: ')
        for i in range(0,palomino_devices.shape[0]):
            aux=palomino_devices.iloc[i,1]
            if aux==value_to_look:
                #print("Founded")
                palomino_devices.iloc[i,37]=input('Type the warning!')
    option=int(input('Look for: 1, exit: 0'))
print(palomino_devices['Label','IMEI','Serial','Paired Unit','Last Event','Last Message Time','Warning'])

Founded
Founded
0     It never reported.
1      It never reported
2                    NaN
3                    NaN
4                    NaN
5                    NaN
6                    NaN
7                    NaN
8                    NaN
9                    NaN
10                   NaN
11                   NaN
12                   NaN
13                   NaN
14                   NaN
Name: Warning, dtype: str