In [2]:
import pandas as pd
import numpy as np

869487062724710 with motion 30s.

In [3]:
raw_data_869487062724710=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\zonar\rawdata_869487062724710_2226_022026.csv',sep=',')
raw_data_869487062724710.info()
raw_data_869487062724710['Event Name'].value_counts()
print(raw_data_869487062724710.iloc[(raw_data_869487062724710.shape[0]-1),3],' -> ',raw_data_869487062724710.iloc[0,3])

<class 'pandas.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Row Id                     1040 non-null   int64
 1   Sequence #                 1040 non-null   int64
 2   Account Id                 1040 non-null   int64
 3   Server Time                1040 non-null   str
 4   Unit Time                  1040 non-null   str
 5   Latitude                   1040 non-null   float64
 6   Longitude                  1040 non-null   float64
 7   Driver Name                0 non-null      float64
 8   Event Name                 1040 non-null   str
 9   Raw Event                  1040 non-null   str
 10  GPS Speed                  1040 non-null   float64
 11  ECU Speed                  0 non-null      float64
 12  Address                    1040 non-null   str
 13  Landmark ID                6 non-null      float64
 14  Satellites                 1040 non-null   int64
 15  Distance                   1040 non-null   float64
 16  HDOP                       0 non-null      float64
 17  VDOP                       0 non-null      float64
 18  RSSI                       0 non-null      float64
 19  Engine Hours               1040 non-null   int64
 20  Engine Hours + Off         1040 non-null   int64
 21  ECU Engine Hours           1040 non-null   int64
 22  ECU Engine Hours + Off     1040 non-null   int64
 23  Engine Odometer            1040 non-null   float64
 24  Engine Odometer + Off      1040 non-null   float64
 25  ECU Engine Odometer        1040 non-null   int64
 26  ECU Engine Odometer + Off  1040 non-null   int64
 27  Battery Level              1040 non-null   int64
 28  Raw Data                   1040 non-null   str
dtypes: float64(12), int64(11), str(6)
memory usage: 235.8 KB
2026/02/24 15:22:33  ->  2026/02/26 10:37:07

In [4]:
motion=raw_data_869487062724710[raw_data_869487062724710['Event Name'].str.contains('Motion')]
only_motion=motion[~motion['Event Name'].str.contains('Motion S')]
only_motion.to_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\zonar\rawdata_869487062724710_2226_022026_motion.csv')

In [5]:
raw_data_869487062724710['Event Name'].value_counts()

Event Name
Motion          637
Update          347
Motion Stop      38
Motion Start     18
Name: count, dtype: int64

869487062909196 wth motion 30s.

In [6]:
raw_data_869487062909196=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\zonar\rawdata_869487062909196_2226_022026.csv',sep=',')
raw_data_869487062909196.info()
print(raw_data_869487062909196.iloc[(raw_data_869487062909196.shape[0]-1),3],' -> ',raw_data_869487062909196.iloc[0,3])

<class 'pandas.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Row Id                     124 non-null    int64
 1   Sequence #                 124 non-null    int64
 2   Account Id                 124 non-null    int64
 3   Server Time                124 non-null    str
 4   Unit Time                  124 non-null    str
 5   Latitude                   124 non-null    float64
 6   Longitude                  124 non-null    float64
 7   Driver Name                0 non-null      float64
 8   Event Name                 124 non-null    str
 9   Raw Event                  124 non-null    str
 10  GPS Speed                  124 non-null    float64
 11  ECU Speed                  0 non-null      float64
 12  Address                    124 non-null    str
 13  Landmark ID                0 non-null      float64
 14  Satellites                 124 non-null    int64
 15  Distance                   124 non-null    float64
 16  HDOP                       0 non-null      float64
 17  VDOP                       0 non-null      float64
 18  RSSI                       0 non-null      float64
 19  Engine Hours               124 non-null    int64
 20  Engine Hours + Off         124 non-null    int64
 21  ECU Engine Hours           124 non-null    int64
 22  ECU Engine Hours + Off     124 non-null    int64
 23  Engine Odometer            124 non-null    float64
 24  Engine Odometer + Off      124 non-null    float64
 25  ECU Engine Odometer        124 non-null    int64
 26  ECU Engine Odometer + Off  124 non-null    int64
 27  Battery Level              124 non-null    int64
 28  Raw Data                   124 non-null    str
dtypes: float64(12), int64(11), str(6)
memory usage: 28.2 KB
2026/02/25 11:43:57  ->  2026/02/25 16:35:36

In [7]:
motion=raw_data_869487062909196[raw_data_869487062909196['Event Name'].str.contains('Motion')]
only_motion=motion[~motion['Event Name'].str.contains('Motion S')]
only_motion
only_motion.to_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\zonar\rawdata_869487062909196_2226_022026_motion.csv')

In [8]:
raw_data_869487062909196['Event Name'].value_counts()

Event Name
Motion          112
Update            5
Motion Stop       4
Motion Start      3
Name: count, dtype: int64

869487062905251 with motion 1min.

In [9]:
raw_data_869487062905251=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\zonar\rawdata_869487062905251_2226_022026.csv',sep=',')
raw_data_869487062905251.info()
print(raw_data_869487062905251.iloc[0,3],' -> ',raw_data_869487062905251.iloc[(raw_data_869487062905251.shape[0]-1),3],)

<class 'pandas.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Row Id                     73 non-null     int64
 1   Sequence #                 73 non-null     int64
 2   Account Id                 73 non-null     int64
 3   Server Time                73 non-null     str
 4   Unit Time                  73 non-null     str
 5   Latitude                   73 non-null     float64
 6   Longitude                  73 non-null     float64
 7   Driver Name                0 non-null      float64
 8   Event Name                 73 non-null     str
 9   Raw Event                  73 non-null     str
 10  GPS Speed                  73 non-null     float64
 11  ECU Speed                  0 non-null      float64
 12  Address                    73 non-null     str
 13  Landmark ID                0 non-null      float64
 14  Satellites                 73 non-null     int64
 15  Distance                   73 non-null     float64
 16  HDOP                       0 non-null      float64
 17  VDOP                       0 non-null      float64
 18  RSSI                       0 non-null      float64
 19  Engine Hours               73 non-null     int64
 20  Engine Hours + Off         73 non-null     int64
 21  ECU Engine Hours           73 non-null     int64
 22  ECU Engine Hours + Off     73 non-null     int64
 23  Engine Odometer            73 non-null     float64
 24  Engine Odometer + Off      73 non-null     float64
 25  ECU Engine Odometer        73 non-null     int64
 26  ECU Engine Odometer + Off  73 non-null     int64
 27  Battery Level              73 non-null     int64
 28  Raw Data                   73 non-null     str
dtypes: float64(12), int64(11), str(6)
memory usage: 16.7 KB
2026/02/25 16:06:04  ->  2026/02/25 12:26:22

In [10]:
motion=raw_data_869487062905251[raw_data_869487062905251['Event Name'].str.contains('Motion')]
only_motion=motion[~motion['Event Name'].str.contains('Motion S')]
only_motion
only_motion.to_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\zonar\rawdata_869487062905251_2226_022026_motion.csv')

In [11]:
raw_data_869487062905251['Event Name'].value_counts()

Event Name
Motion          58
Update           8
Motion Stop      4
Motion Start     3
Name: count, dtype: int64

GL300W comparison:

In [16]:
raw_data=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\zonar\Export_gl300w.csv',sep=',')
hl=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\zonar\historicallocationsgl300w.csv',sep=',')
aux_m=[]

for i in range(0,raw_data.shape[0]):
    aux_m.append(raw_data.iloc[i,1][6:11])
raw_data['Message_Type']=aux_m

raw_data['Message_Type'].value_counts()
hl['Events'].value_counts()

Events
Parked              7147
Idle - Stop         1515
Drive               1418
Speed alert          153
Stopped Charging      24
Power Cut             24
Power Restored        24
Start Charging        21
Battery Warning       12
Self Test/Reboot       1
Name: count, dtype: int64

Because of Queclink GL300W does not have a similar event to "Update", for TopFly Knight, Update can be set to 6 hours. This was confirmed bY Gerardo Loaiza on Friday 27-02-2026.