In [1]:
import pandas as pd
import numpy as np

In [6]:
esp840=pd.read_csv(r'C:\Users\Jose.Hurtado\Documents\projects\data\zona_logistica\esp840.csv',sep=',')
esp840.info()

<class 'pandas.DataFrame'>
RangeIndex: 53321 entries, 0 to 53320
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Created  53321 non-null  str
 1   Message  53321 non-null  str
 2   Status   53321 non-null  str
dtypes: str(3)
memory usage: 1.2 MB

In [24]:
aux=[]
aux_miles=[]
esp840_odometer=pd.DataFrame()

for i in range (0, esp840.shape[0]):
    l=len(esp840.iloc[i,2])
    #print('Len=',l)
    if l<180:
        aux.append(int(esp840.iloc[i,2][68:76],16))
        aux_miles.append((int(esp840.iloc[i,2][68:76],16))*0.621371)    

esp840_odometer['Odometer in']=aux
esp840_odometer['Odometer en miles']=aux_miles

esp840_odometer

      Odometer in  Odometer en miles
0       123529456       7.675762e+07
1       123529456       7.675762e+07
2       123529456       7.675762e+07
3       123529456       7.675762e+07
4       123529456       7.675762e+07
...           ...                ...
3760    125283314       7.784742e+07
3761    125283423       7.784749e+07
3762    125283438       7.784750e+07
3763    125283485       7.784752e+07
3764    125283533       7.784755e+07

[3765 rows x 2 columns]